[2014-06-26 15:43] haydenbleasel opened #1 "Add upscaling option"
Basically if the source image is smaller than one of the specified sizes then skip that resize.

[2014-06-26 16:08] #1 closed, assigned to haydenbleasel

[2014-06-27 09:14] nervo opened #2 "Callback option"
A callback option should be accepted to allow gulp integration

[code]

[2014-06-27 16:08] #2 closed, assigned to nobody

[2014-07-01 12:06] LeoColomb opened #3 "Ability to create all favicon files"
Regarding the real needing of favicon side of a website, a lot of other files have to be generated.
Reference: http://realfavicongenerator.net/faq

[2014-07-07 10:47] haydenbleasel opened #4 "Replace ImageMagick with GraphicsMagick"
[node-imagemagick](https://github.com/rsms/node-imagemagick) provides a nice wrapper but it's deprecated. Using [gm](https://github.com/aheckmann/gm) instead.

[2014-07-08 14:47] haydenbleasel opened #5 "Merge metaimage-generator"
Merge [metaimage-generator](https://github.com/haydenbleasel/metaimage-generator) into this module and specify an option e.g.

[code]

[2014-07-09 14:04] #5 closed, assigned to haydenbleasel

[2014-07-09 14:04] #4 closed, assigned to nobody

[2014-07-14 04:33] haydenbleasel opened #7 "Rewrite asynchronously"
The port / rewrite of grunt-favicons left a lot of synchronous functionality. This will need to be rewritten.

[2014-07-16 19:46] jessehattabaugh opened #9 "favicon.ico has a white pixel in the top corner"
When I run this source png

![favicon](https://cloud.githubusercontent.com/assets/17991/3604551/7f5c94c6-0d21-11e4-9fb0-4252a6cc071c.png)

I get this .ico file which has a white pixel in the top left corner of the 16x16 version. None of the other icons have it, just the ico

![screen shot 2014-07-16 at 12 45 08 pm](https://cloud.githubusercontent.com/assets/17991/3604575/bdaabfd2-0d21-11e4-915c-b0

[2014-07-17 03:15] #9 closed, assigned to nobody

[2014-08-14 08:32] dmnsgn opened #12 "Write metadata links in a single file (option html)"
It would be nice to have the possibility to write metadata links in a file even if there is no 'head' tag.
In this way, the generated file could be directly included as a partial.

Another solution would be to use glob pattern for the `html` option to write these metadata links in several files.

[2014-09-15 13:31] #3 closed, assigned to nobody

[2014-09-15 13:31] #7 closed, assigned to haydenbleasel

[2014-09-15 13:31] #12 closed, assigned to nobody

[2014-09-17 17:50] griiettner opened #13 "Trying to get Firefox Manifest to work"
Getting the following error when I set a path to generate the Firefox manifest... there are no documentation for this part, so I have no clue to work with it...

[code]

[2014-09-22 12:13] #13 closed, assigned to nobody

[2014-10-23 07:24] paulirish opened #14 "realfavicongenerator integration"
from https://github.com/google/web-starter-kit/pull/442#issuecomment-58792928 ...

What's the status on that? I think it'd be great to combine efforts here.

cc @phbernard

[2014-10-28 10:15] iongion opened #15 "Specify path to imagemagick"
On windows, default convert is a tool in the system path `C:\Windows\system32\convert.EXE`
It is needed to be able to specify the path.
Can you also support graphics magick, this seems not to interfere with any windows default tools.

[2014-11-27 10:04] sindresorhus opened #16 "Improve API"
The option object is not very readable:

[code]

I suggest you do the following changes:
- Move the `Icon types` section into a sub-object named `iconTypes`.
- Rename `source` to `src` as `dest` is already abbreviated and `src` is more common.
- `callback` should just be the last argument in the function call and not in the options object.
- The first argument of the callback should be an error ob

[2014-11-27 10:05] sindresorhus opened #17 "Document what the arguments to the callback are"
Is not good enough. What is `respone` and `html`?

[2014-11-27 10:06] sindresorhus opened #18 "Don't insert duplicate tags"
No point in documenting this when you can easily handle it in code. You can detect if the tag already exists and don't insert it.

[2014-12-09 15:02] tlvince opened #19 "TypeError thrown using default options"
[code]

[2014-12-10 05:57] #19 closed, assigned to nobody

[2014-12-11 11:22] #15 closed, assigned to nobody

[2014-12-11 11:26] #14 closed, assigned to nobody

[2014-12-11 11:26] #16 closed, assigned to nobody

[2014-12-11 11:26] #17 closed, assigned to nobody

[2014-12-11 11:26] #18 closed, assigned to nobody

[2015-01-09 17:03] thasmo opened #23 "Error `spawn ENOENT`"
Running favicons in my `images` gulp task outputs the following:
[code]

Any idea why that's happening?

[2015-01-09 17:10] thasmo commented on #23
Hold on, probably a problem with my IM installation. I'll check.

[2015-01-09 18:39] thasmo commented on #23
Nah, error still pops up. :l

[2015-01-10 00:30] haydenbleasel commented on #23
@thasmo It's a young module so it's probably my fault haha. Can I see your gulpfile?

[2015-01-10 07:53] thasmo commented on #23
Sure, my gulpfile includes task files using `require('require-dir')('./task/default');` and my `images` task is here:
[code]

[2015-01-10 13:32] haydenbleasel commented on #23
@thasmo You know there's a [Gulp version](https://www.npmjs.com/package/gulp-favicons) of this module right? Makes it so much easier.

[2015-01-10 14:50] thasmo commented on #23
Oh, no I didn't - I'll try it.

[2015-01-11 02:28] haydenbleasel commented on #23
@thasmo No worries, if you have a problem with that plugin still, open an issue on the Gulp branch and we'll sort it out!

[2015-01-11 02:28] #23 closed

[2015-01-13 14:41] gauntface opened #24 "Having some problems with using this with WSK"
I'm just trying to add in the new version of this task into WSK and I'm having a few issues:

At the moment the task is:

    gulp.task('favicon', function () {
      favicons({
        files: {
            src: 'app/images/favicons/favicon-1024x1024.png',   // Path for file to produce the favicons. `string` or `object`
            dest: 'dist/',                                      // Path for wr

[2015-01-13 14:46] haydenbleasel commented on #24
Heya @gauntface, I'll download the WSK and have a look into the issue. It's a bit hard to debug this new version as most of the processing is done with a RealFaviconGenerator API call. It's unlikely you're doing anything wrong as this is a pretty young module so it's prone to things I've missed.

[2015-01-13 14:49] haydenbleasel commented on #24
@gauntface Also there's a Gulp plugin now so I recommend using that: https://www.npmjs.com/package/gulp-favicons

[2015-01-13 14:57] gauntface commented on #24
Any issues you find, it would be good to reveal them in the logs, always a black box at the moment. I'll try out the gulp-favicons.

Just to let your know I'm working on the material-sprint branch AND I have an image not in the repo - happy to share, but any image to test would be fine.

[2015-01-13 15:08] haydenbleasel commented on #24
@gauntface I tried out gulp-favicons by adding a new task and it appears to work okay:

[code]

Long story short, the Gulp plugin works a little differently by parsing an HTML tag:

[code]

It removes it upon processing so there's no chance of a W3C validation error or anything. I'd like to make it accept an HTML file or an image when I get around to it.

[2015-01-13 15:19] gauntface commented on #24
Thanks for your help @haydenbleasel.

I'm getting different results to you:

    $ gulp favicon
    [15:15:48] Using gulpfile ~/Programming/Code/web-starter-kit/gulpfile.js
    [15:15:48] Starting 'favicon'...
    [15:15:48] Finished 'favicon' after 154 ms
    Created apple-touch-startup-image-320x460.png

    /Users/mattgaunt/Programming/Code/web-starter-kit/node_modules/gulp-favicons/node_module

[2015-01-13 15:33] haydenbleasel commented on #24
@gauntface I definitely agree it's confusing, I'd like to spend some time on making it simpler. Basically we're reading an HTML file instead of an image for streaming reasons - you can pipe it onto your `html` task in WSK, making it (as you said) a build-only step. It accepts an HTML file with a custom metatag and returns an HTML file with new metatags. The produced images are basically an "add-on

[2015-01-13 17:42] gauntface commented on #24
Right, further digging (I'll post my code to get to this point), but the issue with a spawn task:

$ gulp favicons
[17:39:53] Using gulpfile ~/Programming/Code/web-starter-kit/gulpfile.js
[17:39:53] Starting 'favicons'...
[17:39:53] Finished 'favicons' after 123 ms
file.cwd = /Users/mattgaunt/Programming/Code/web-starter-kit
Created apple-touch-startup-image-320x460.png

/Users/mattgaunt/Programmi

[2015-01-13 17:47] gauntface commented on #24
Ah - requires graphicsmagick too: https://www.npmjs.com/package/gm

[2015-01-13 18:17] gauntface commented on #24
So I've finally got it looking like it's working, but mashed things up into this PR: https://github.com/haydenbleasel/favicons/pull/25

[2015-01-13 18:55] addyosmani opened #26 "Publish Gulp plugin as a separate repository"
In the Node ecosystem, the majority of build system plugins are hosted in their own separate repositories. This makes it easier to discover them (We've had some trouble going back and forth between the module and Gulp file given branching strategies).

Would you consider pushing the Gulp plugin to a gulp-favicons repo?

[2015-01-13 23:48] haydenbleasel commented on #26
I was hoping to group them together (as every gulp / grunt implementation is just a wrapper around the main module) but I think you're right, and if it makes it easier for anyone then it's definitely worth doing. I'll split out all my modules today :)

[2015-01-14 02:20] #26 closed

[2015-01-14 02:21] haydenbleasel commented on #24
Awesome :)

[2015-01-14 02:21] #24 closed

[2015-01-20 10:36] stn1978 opened #27 "Callback Error"
Hi Hayden!

I've got an error in my configuration an I'd like to share it with you. Maybe you have a solution?

The generator works but I keep getting the following error message:

[code]

That's my configuration:

[code]

What am I doing wrong? What can I do?

[2015-01-20 10:55] haydenbleasel commented on #27
This is actually my fault for not checking if a callback exists - I just fixed it then for favicons-2.1.1.

Anyway, you could fix this issue by specifying a callback function OR (much easier) use [gulp-favicons](https://www.npmjs.com/package/gulp-favicons).

[2015-01-22 15:51] stn1978 commented on #27
Thanks! Yes, fixed in 2.1.1. :)

[2015-01-22 15:51] #27 closed

[2015-01-30 23:49] indolering opened #30 "Document support for multiple sizes?"
You thank some people in the readme for their input on multiple sizes.  Has this actually made it into the production system?  If so, could you document support for it?

[2015-01-31 05:18] haydenbleasel commented on #30
Yeah sorry, it's a bit weird. Old implementation (1.x.x) of Favicons has support for multiple image sizes based on the icon size. New one has support for multiple image sizes based on the platform. I have to update this, thanks for pointing it out!

[2015-02-04 13:02] #30 closed

[2015-02-06 23:37] indolering commented on #30
It is still not clear to me how I would, for example, specify a primary SVG for the larger sizes and a secondary image for 16x16 and 24x24.

[2015-02-07 00:56] haydenbleasel commented on #30
That implementation of size-based images was in version 1. Since then, we've started using the RealFaviconGenerator API which gives us the ability to use platform-based images only, for example:

[code]

With that in mind, if you'd like this functionality to be in the RealFaviconGenerator API then I recommend [contacting Philippe](http://realfavicongenerator.net/) as it's totally up to him :)

[2015-02-17 16:20] germanny opened #32 "Need characters to come across unescaped"
Hi!

I've run into an issue with generating a full path to the icons that contains a string like `<?php echo ... ?>`. Those `<>` should come across unescaped, but the path written to `favicons.php` is coming out as `&lt;?php echo ... ?&lt;/`.

Just to be clear, I'm not expecting it to run the PHP script. It should simply write it exactly as entered into the `iconsPath` option.

Thanks!
Jen
@german

[2015-02-24 06:15] haydenbleasel opened #33 "Transferred repos"
@jessaustin Sorry to be a pain, but we were in the middle of phasing out `rfg-api` and `real-favicon` repositories to keep things simple. This means your PR is gone, but it can quickly be rewritten for this repo - same code more or less. Sorry about that!

[2015-02-24 06:21] jessaustin commented on #33
So I should make an equivalent PR for this module? If so I'll probably also abstract out the config interpretation in addition to the icon stream.

[2015-02-24 06:27] haydenbleasel commented on #33
If possible, yeah :) Appreciate your time in this so far!

[2015-02-28 13:42] #33 closed

[2015-03-28 16:13] webchaz opened #36 "400: could not publish request to the RealFaviconGenerator API."
According to their docs we need an api_key, but I don't see an api_key config option.  I'm not sure if this is the issue here exactly, but the error above is what's being returned.

[2015-03-30 22:42] dmnsgn commented on #36
Creating my API key and changing it directly into the configuration json had no effect in my case.

[2015-03-31 02:55] haydenbleasel commented on #36
@phbernard Any ideas matey?

[2015-04-05 21:40] jamesryanbell commented on #36
FYI: This only seems to be an issue when inline images are used, if you pass an image URL then the script works correctly.

[2015-04-05 23:14] haydenbleasel commented on #36
@jamesryanbell Ahh okay. The module inlines images automatically so we'll need to allow inline images too.

[2015-04-07 20:40] phbernard commented on #36
Not sure to understand what's wrong. Do you have an error message with the 400 itself?

I realize the API gives the message along with the status. Some HTTP libs don't return it because it's not in the response body. @haydenbleasel, could it help if the API would return a JSON document, along with the 400? (the `error` case described in the <a href="http://realfavicongenerator.net/api/interactive_

[2015-04-20 15:33] frankvanrest opened #40 "iPad apple-touch-startup-startup landscape expects a portrait sized image"
Mentioned on http://taylor.fausak.me/2012/03/27/ios-web-app-icons-and-startup-images/

This rotation is missing in this script. Now the landscape startup images are not recognized as such and not shown.

*Nevermind, I see this should be fixed by RealFaviconGenerator.net*

[2015-04-20 15:51] #40 closed

[2015-05-07 01:52] Stanzilla opened #41 "Follow HTML5 boilerplate"
They settled on using only one apple-touch-image because the majority of iOS devices are on 7+

Might be good to follow them

See https://github.com/h5bp/html5-boilerplate/commit/345925f04384b59929d8d39ba428cef548921408

[2015-05-12 15:21] jojoyuji opened #42 "when appending html it's replacing my single quotes"
My single quotes are being replaced by `&apos;` :(

[2015-05-20 08:30] Mashi commented on #36
Trying to run via node with:
[code]
but getting: 400: could not publish request to the RealFaviconGenerator API.

[2015-06-02 19:51] jessehattabaugh commented on #36
I get this error when calling like so;

[code]

[2015-06-02 20:03] jessehattabaugh commented on #36
Also fails if I inline the base64 data myself like so
[code]

[2015-06-02 20:11] jessehattabaugh commented on #36
adding an api_key didn't help

[2015-06-08 02:17] brianberlin commented on #36
In my case, I got this error because the png i was trying to use was not large enough. Since the callback doesn't send back the original error message, its difficult to troubleshoot.

[2015-06-12 14:42] gmhenderson commented on #42
+1

[2015-06-12 16:20] gmhenderson commented on #42
Seems like this is an issue when Cheerio (and htmlparser2) [load()](https://github.com/cheeriojs/cheerio#loading)s the target html file. Not really a favicon-specific issue.

I ran into this when trying to inject meta tags into a twig template. My solution was to write the meta data into a blank html file, and then use Twig to include that in the `<head>`.

[2015-06-18 09:55] haydenbleasel commented on #42
Sorry for the delay, I've had my uni exams. @gmhenderson is correct, it's HTMLParser's load function (specifically the option `decodeEntities`). I use another module to handle the HTML I/O in Favicons and I've updated that library and since Favicons requires the latest of every module, just do a new `npm install` and you should be good :+1:

[2015-06-18 09:55] #42 closed

[2015-06-18 10:00] haydenbleasel commented on #41
Hey @Stanzilla, I definitely agree however there's 2 clauses:

1. Support for multiple Apple Touch Icons is not dropped and is in fact still recommended for quality icons i.e. not scaling a single icon to match a variety of resolutions.
2. The production of these icons and the metadata is done by RealFaviconGenerator (since this module is just a wrapper for the work I do there) so changing the API

[2015-06-18 10:00] #41 closed

[2015-06-18 10:03] haydenbleasel commented on #36
Hey everyone, sorry for the delay on this - I've been doing uni exams. @brianberlin made a PR so we can return the original error message on non-200 cases, so can anyone who had an error update and re-run, see what the go is?

[2015-06-18 10:04] haydenbleasel commented on #32
Hey @germanny, this should be solved now as of #42.

[2015-06-18 10:04] #32 closed

[2015-06-18 11:34] haydenbleasel commented on #36
Also judging from the comments, I don't think the API key is the problem (everyone is using the same one - it's allocated to the module) so there's probably just a variety of image-based problems.

[2015-06-18 13:19] germanny commented on #32
Thank you!!

[2015-08-19 01:01] haydenbleasel commented on #36
@webchaz @dmnsgn @jamesryanbell @Mashi @jessehattabaugh

Hey everyone. Sorry this issue has been open so long. @brianberlin made a PR so we can return the original error message on non-200 cases, so can anyone who had an error update and re-run, see what the go is? Judging from the comments, I don't think the API key is the problem (everyone is using the same one - it's allocated to the module) so

[2015-08-26 10:31] garygreen opened #44 "Local generation of favicons"
Just browsing thru the issues and there's mentions of ImageMagick, gm but I don't see anywhere in the source where it supports generating images locally? Is this purely reliant on generating thru RealFaviconGenerator service? Would be nice to support generating the different sizes locally....

[2015-08-26 12:42] haydenbleasel commented on #44
@garygreen Yeah versions 1 and 2 of favicons used Image/Graphics Magick to produce the icons, however I partnered up with RealFaviconGenerator for version 3 so favicons is simply a wrapper for their service. This occurred for a few reasons, the main being that I can focus on maintaining a node module while they can focus on maintaining the evolving icon standards.

We have heard this issue about l

[2015-08-26 12:49] garygreen commented on #44
Relying on another service and access to the internet for your build tool to function is a big turn off for me. But I understand it's difficult to maintain with the evolving standards. Would love to see local generation back in :-)

[2015-09-08 09:36] senthanal opened #45 "Zlib error"
Hi,
I've a strange issue while running gulp tasks on the CI(Linux machine). It continues to break up in the middle exactly at the favicon generation task. Follows, the error message,
<pre>
<code>
events.js:85
     throw er; // Unhandled 'error' event
Error: invalid distance too far back
    at Zlib._handle.onerror (zlib.js:366:17)
</code>
</pre>

Seems some problem with Zlib module(http://stackove

[2015-09-17 15:29] LekeFly opened #46 "Choose html location"
Is it possible to change where the html gets injected?

[2015-09-17 15:58] haydenbleasel commented on #46
I could add a feature for this, where else would you want to inject the HTML though?

[2015-09-28 11:16] Maximilianos commented on #44
There is also this option for local image generation: https://github.com/oliver-moran/jimp
claims to be node JS only. Not requiring Image/Graphics Magick would be pretty sweet

[2015-10-18 05:03] davewasmer opened #47 "Switch to unzip2"
It appears that the [`unzip` module](https://github.com/EvanOxfeld/node-unzip) is abandoned. When using this module, I periodically get `invalid signature` errors, which appear to originate from the `unzip`. Looking through the [unzip issues](https://github.com/EvanOxfeld/node-unzip/issues) shows several other folks with similar issues.

It looks like a fork has fixed at least some of these issues

[2015-10-18 05:07] haydenbleasel commented on #47
@davewasmer To be honest, I haven't touched this module's code in a while - a couple of other contributors implemented the unzip functionality that broke things and I haven't had the time to fix anything up.

That being said, if you reckon you can fix the unzip issues by switching to the fork that's cool with me, but it looks like his fork hasn't got any of the updates from the original repo's 0.1

[2015-10-19 12:39] tlvince opened #48 "Cannot install v2.x"
https://github.com/RealFaviconGenerator/real-favicon has been deleted, which preventing 2.x from being installed. See:

[code]

(I'd like to try v2.x as we cannot rely on a web service (#44)).

[2015-10-20 00:56] haydenbleasel commented on #48
Hey @tlvince, adding local support back into Favicons is on our roadmap, but there's not much we can do about your issue at the moment since real-favicon has been merged into this module.

[2015-10-20 08:07] tlvince commented on #48
No probs!

[2015-10-23 08:14] dematerializer opened #49 "Custom overwrites not working"
The "Custom Overwrites" example from the readme isn't working. In getConfig, params/options are being merged into config selectively, allowing not all, but only a handful of favicon_generation settings to be overwritten.

[2015-11-02 23:58] haydenbleasel commented on #44
@Maximilianos Jimp seems pretty cool. I'm tossing up between that or [Sharp](https://github.com/lovell/sharp). Dependency on libvips is a tad annoying but still. Thoughts?

[2015-11-03 00:02] haydenbleasel opened #51 "Favicons 4"
This is a complete rewrite of Favicons to suit the pressing needs of users and fix a lot of bugs. I think I've lost track of the original use case for Favicons over time: "I want to generate a complete suite of favicons and valid HTML with the smallest amount of work possible". Let's create a discussion of what should be in the new version:

- [x] Generate favicons locally (#48, #44)
- [x] Generat

[2015-11-03 00:03] haydenbleasel commented on #44
@garygreen @Maximilianos @tlvince Hey all, merging this issue into Favicons 4.0. I'd love for you to join in the discussion: #51

[2015-11-03 00:03] #44 closed

[2015-11-03 00:04] haydenbleasel commented on #45
Hey @senthanal, merging this issue into Favicons 4.0. I'd love for you to join in the discussion: #51

[2015-11-03 00:04] #45 closed

[2015-11-03 00:06] haydenbleasel commented on #46
Hey @LekeFly, merging this issue into Favicons 4.0. I'd love for you to join in the discussion: #51

[2015-11-03 00:06] #46 closed

[2015-11-03 00:07] haydenbleasel commented on #47
Hey @davewasmer, merging this issue into Favicons 4.0. I'd love for you to join in the discussion: #51

[2015-11-03 00:07] #47 closed

[2015-11-03 00:08] haydenbleasel commented on #48
Hey @tlvince, merging this issue into Favicons 4.0. I'd love for you to join in the discussion: #51

[2015-11-03 00:08] #48 closed

[2015-11-03 00:09] haydenbleasel commented on #49
Hey @dematerializer, thanks for the report. I'm merging this issue into Favicons 4.0. I'd love for you to join in the discussion: #51

[2015-11-03 00:09] #49 closed

[2015-11-03 00:11] haydenbleasel commented on #36
@webchaz @dmnsgn @jamesryanbell @Mashi @jessehattabaugh @phbernard @brianberlin Hey all, I'm merging this issue into Favicons 4.0. I'd love for you to join in the discussion: #51

[2015-11-03 00:11] #36 closed

[2015-11-03 03:17] haydenbleasel commented on #51
Let's assume ImageMagick and GM are out of the question due to their age and dependencies. Remove Pica as (from the perspective of a JS-only library) JIMP appears more popular. So either Sharp or JIMP I believe.

[2015-11-03 09:15] phbernard commented on #51
I never used JIMP, but it make sense to use pure JS. Note that, if you want to support the new Safari pinned tabs, you'll need to generate SVG, which JIMP apparently doesn't support.

[2015-11-03 16:59] davewasmer commented on #51
From my perspective as a library author consuming this library as a dependency, I'd love to see a couple things in particular:

1. Consistent error handling. Right now the user supplied callback can be invoked in multiple ways (node err style callbacks, simple result callbacks with no error info), with varying types of error reporting (error objects, simple strings).
2. Definitely :+1: on ditching

[2015-11-03 17:12] euangoddard commented on #51
I would love to see a more sane config format with general configuration options and vendor specific sections.

I also agree with @davewasmer about the file-writing - that was my major reason for requesting (and implementing) extra options - I needed them solely to configure how the `manifest.json` file was output and this really has nothing to do with favicons!

[2015-11-03 17:48] haydenbleasel commented on #51
@davewasmer Good idea. I think the Favicons callback will look like this:

[code]

I definitely agree on adding this to the build tools but it seems like quite a bit of work for the Node module...

[2015-11-03 17:49] haydenbleasel commented on #51
@euangoddard My current concept for the configuration is this:

[code]

What are your thoughts on this?

[2015-11-03 18:07] davewasmer commented on #51
@haydenbleasel Looks great. A couple suggestions, off the top of my head:

[code]
I'd favor an `Error` subclass over a string, or at the very least an object. Makes it easier to add parseable metadata to the error in the future.

For example, if I elect to use the API, and the API returns an error like `Picture isn't square!`, a string error my read `Request failed: 400 - Picture isn't square`. Bu

[2015-11-03 21:03] haydenbleasel commented on #51
@davewasmer Good idea on the errors, is there a specific error object style I should use? Otherwise I'm thinking `{ status: <number>, error: <string>, message: <string> }`. I'd like to provide useful error messages like "Go change your `public/favicon.png` to be square" natively.

As for the images callback, I suppose there's not much difference with the following except for simpler syntax:

[code

[2015-11-03 21:26] davewasmer commented on #51
@haydenbleasel for the structure, I don't think it matters a ton, as long as (a) it's consistent to whatever extent possible (i.e. if it's a filesystem error, I wouldn't expect an HTTP `status`, but I'd expect a `message` no matter what), and (b) it's easy to inspect for certain error conditions or groups of conditions (i.e. all errors have `error: <enum>`, where valid values are things like `'API

[2015-11-03 22:07] haydenbleasel commented on #51
@davewasmer Okay sounds good, here's the error template we'll be using:

[code]

[2015-11-04 09:22] euangoddard commented on #51
@haydenbleasel that config is so much clearer to me - a big win. My only comment would be that runtime configuration is mixed with outcome-based configuration (i.e.` logging` and `appName` sit at the same level). However, I think creating sub-sections for these probably isn't worth it.

[2015-11-04 20:05] haydenbleasel commented on #51
@euangoddard Yeah the current favicons config is categorised but that causes too much work for simple parameters e.g. Basic configuration and disabling 1 icon type:

[code]

[2015-11-05 04:14] haydenbleasel commented on #51
Does anyone know if there's a pure Javascript npm package for convering SVG to a rasterized image type like JPG / PNG / BMP?

[2015-11-05 22:14] haydenbleasel commented on #51
Although it's a bit strange to me, the new concept for files is to return something like:

[code]

That way it's consistent with the way I return HTML (just the contents, no wrapper). In the Node module, the user is left to handle that output and append it to an existing `browserconfig.xml` file. In the Gulp plugin, it creates the `browserconfig.xml` file for you.

[2015-11-09 20:40] haydenbleasel commented on #51
@willhoag Thanks for implementing CLI access on Favicons 3 :) Do you reckon you could help with the CLI changes for this new version?

[2015-11-09 20:41] haydenbleasel commented on #51
@phbernard I think we need propert unit tests for this new version, you any good with that?

[2015-11-09 20:55] phbernard commented on #51
Yup! Don't count on me to write hundreds of tests for every aspects of the module, but I can surely write some to get started. Which parts would you like to focus on?

[2015-11-09 20:56] haydenbleasel commented on #51
Haha yeah of course mate :) I guess we're generating 3 seperate components at the moment (images, files, html) so maybe just checking that the correct files have been created / the correct HTML has been produced? What do you reckon?

[2015-11-09 20:57] phbernard commented on #51
Sounds good. I'll code some mocha tests, I think tomorrow.

[2015-11-09 20:58] haydenbleasel commented on #51
Sounds good! Thanks mate :)

[2015-11-09 22:06] davewasmer commented on #51
@haydenbleasel looking at that output - are you saying that the file contents will be an array of strings?

[2015-11-09 22:11] haydenbleasel commented on #51
Hey @davewasmer, updated callback is as follows:

[code]

[2015-11-09 22:26] davewasmer commented on #51
ah, makes sense :+1:

[2015-11-10 05:18] haydenbleasel commented on #51
Okay so I'm working on the new RFG integration now, there's two ways of handling the image/file response cc: @davewasmer @phbernard. The first is the traditional way, we'd have to request the zip file, unzip it and pass the files into an array or something:

[code]

The second is downloading each image individually, decreasing request size and avoiding the whole unzipping process but increases the

[2015-11-10 06:57] davewasmer commented on #51
I'd vote for the latter (separate requests). Since this is a Node lib, it won't be subject to the browser's concurrency restrictions, so firing off a many simultaneous requests shouldn't be a problem. On the other hand saving the bandwith and avoiding the whole unzipping problem seems very attractive.

Sent from my iPhone

[2015-11-10 07:00] haydenbleasel commented on #51
@davewasmer Agreed. We can asynchronously grab each one of the files, should also avoid timeout issues and finish quicker.

[2015-11-10 07:48] haydenbleasel opened #53 "Add SVG support"
SVG support can be easily implemented if we find a pure-JS Node library that handles SVG to PNG conversion with no external dependencies.

[2015-11-10 22:03] cloud-walker commented on #53
What about [librsvg](https://www.npmjs.com/package/librsvg)?

[2015-11-10 22:07] haydenbleasel commented on #53
@cloud-walker relies on the librsvg package from Brew / Yum / Apt-Get. The solution needs to be 100% JS. Good find though, probably the closest solution thus far.

[2015-11-11 01:17] haydenbleasel commented on #51
Also @phbernard I totally forgot to respond to that last message re: SVG support for El Capitan, see #53

[2015-11-11 04:48] haydenbleasel opened #54 "Add Command-Line Access"
CLI access was merged in #39 by @willhoag but we've totally rewritten the configuration since then so it needs to be re-implemented.

[2015-11-11 05:07] haydenbleasel opened #55 "Proper unit tests"
Unit testing is being devised at the moment by @phbernard.

[2015-11-11 05:07] #51 closed

[2015-11-11 09:01] haydenbleasel opened #57 "Absolute URL for OpenGraph"
This needs to be integrated locally and into RFG API.

[2015-11-11 09:32] haydenbleasel opened #58 "Consider adding silhouette ability for Windows"
To reflect functionality provided by the RFG API, we'd need #53 or a library like potrace that traces rasterised image types to vectors. Pure-JS only, as usual.

[2015-11-11 15:55] externl opened #59 "Transparency"
How can I make my icons keep their transparent background? There doesn't seem to be a way.

[2015-11-11 23:44] haydenbleasel commented on #59
Hey @externl, fixed in `4.0.7`.

[2015-11-11 23:44] #59 closed

[2015-11-11 23:46] haydenbleasel opened #60 "Add circle background for Firefox OS"
RFG suggests a circular background with a gloss effect for Firefox OS. There should be a way to do this with JIMP.

[2015-11-12 00:17] haydenbleasel commented on #57
Fixed in `4.0.8`.

[2015-11-12 00:17] #57 closed

[2015-11-12 00:30] haydenbleasel commented on #60
I've opened an issue here: https://github.com/oliver-moran/jimp/issues/69. Judging from the docs, I think the only way to do this at the moment would be having an algorithm to set pixel transparency / colour programatically, but we'll see.

[2015-11-12 00:33] haydenbleasel opened #61 "Add El Capitan favicon support"
Like #58, to reflect functionality provided by the RFG API, we'd need #53 or a library like potrace that traces rasterised image types to vectors. Pure-JS only, as usual.

[code]

[2015-11-12 16:40] externl opened #62 "Html generated for favicon which does not exist"
The html:
[code]
is generated. However there is no file with that name/dimension.

[2015-11-12 21:26] haydenbleasel commented on #62
Hey @externl, fixed in `4.1.1` - please update :)

[2015-11-12 21:26] #62 closed

[2015-11-17 23:40] davewasmer opened #64 "Add ES6 -> ES5 build step"
This module is written in ES6 (yay!), but is released as ES6 as well, rather than compiling to ES5 first. This is problematic for compat purposes: node 0.12.x, widely used in the wild, doesn't support most of the ES6 syntax used by this module. That means that consuming code must include it's own transpilation step.

A better approach would be to compile this ES6 to ES5 during pre-publish, and use

[2015-11-17 23:41] davewasmer opened #65 "Tag releases"
It would be helpful if, when a new version is released, a git tag is created for that version and published to Github as well. It's helpful if you want to go back through old versions of the code based on what older version your own app/consuming library might be on.

[2015-11-18 00:35] haydenbleasel commented on #65
Hey Dave, yeah I agree - I was pretty casual with this from the start but things are picking up quickly. I'll add tagging this week :)

[2015-11-18 00:38] haydenbleasel commented on #64
Ughhh I hoped nobody would pick up on this and just upgrade to Node 4.x haha. But yeah you're right. Do you reckon you could help out with a PR on this? I'm not sure the best way of doing it. Otherwise I can probably figure it out next week sometime.

[2015-11-18 22:12] haydenbleasel opened #66 "Make sure correct metadata is in"
- [x] meta(name='apple-mobile-web-app-capable', content='yes')
- [x] ~~meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')~~
- [x] ~~meta(name='format-detection', content='telephone=yes')~~
- [x] meta(name='mobile-web-app-capable', content='yes')
- [x] meta(property='twitter:image', content='')

[2015-11-19 07:46] di5abled opened #67 "android-chrome-manifest.json vs. manifest.json"
Hello,

you are generating the file `manifest.json` but in the generated HTML you reference `android-chrome-manifest.json` guess one of this two names is wrong? :)

[2015-11-19 08:20] haydenbleasel commented on #67
Hey @di5abled, yes that was a recent change, we must have missed updating the HTML reference - nice find! I see you've forked and fixed it, how about a PR? Thanks :+1:

[2015-11-19 22:00] davewasmer commented on #64
Sorry :wink:

Happy to PR if I can find the time. I'd suggest something like https://github.com/jmeas/es6-node-boilerplate - I've used similar boilerplates in the past. Basic idea is to setup gulp (or something similar) to compile (as well as test/lint/code coverage if you'd like) everything from `src/` into `dist/`. Then you `.gitignore` the distributed files, and `.npmignore` the source files.

[2015-11-22 08:23] haydenbleasel opened #69 "Missing files"
Originally opened by @vn38minhtran

- Missing apple-touch-startup-image-1024x748.png
- Missing apple-touch-startup-image-2048x1496.png

[2015-11-22 08:24] haydenbleasel opened #70 "Legacy issues"
Originally opened by @gauntface:

- [x] On Chrome stable, because there is no there is no icon supplied. The manifest is only picked up in Chrome Beta.
- [ ] Also had some issues with iOS 8 (the app icon and start up screen weren't getting used)

(Not sure if these still apply).

[2015-11-22 10:05] haydenbleasel commented on #67
Fixed in `favicons@4.2.0`.

[2015-11-22 10:05] #67 closed

[2015-11-22 10:06] haydenbleasel commented on #64
Hey @davewasmer, fixed in `favicons@4.2.0`. Just `require('favicons/es5')`. The helpers file is still in ES6 though. Not sure how to go about that.

[2015-11-22 10:06] #64 closed

[2015-11-22 10:11] haydenbleasel commented on #65
Hey @davewasmer, I'll start tagging each minor release from now on. `v4.1.0` and `v4.2.0` are up.

[2015-11-22 10:11] #65 closed

[2015-11-22 20:54] andrelima opened #71 "display: 'browser' config setting does not get output to manifest.json"
What the title says...  ;)

[2015-11-22 21:33] haydenbleasel commented on #66
Fixed in `favicons@4.2.2`.

[2015-11-22 21:33] #66 closed

[2015-11-22 21:38] haydenbleasel commented on #71
Hey @andrelima, thanks for the report. Fixed in `favicons@4.2.3` :)

[2015-11-22 21:38] #71 closed

[2015-11-22 22:07] andrelima commented on #71
Thank you! :+1:

[2015-11-24 01:39] haydenbleasel opened #72 "Ensure metadata is up to date"
Duplicate issue :S

[2015-11-24 01:40] #72 closed

[2015-11-24 06:01] GZep opened #73 "url option broken"
Slash is missing: ***http:/domain.com***
[code]

[2015-11-24 18:26] haydenbleasel commented on #73
Hey @GZep, should be fixed as per #74

[2015-11-24 18:26] #73 closed

[2015-11-25 18:46] davewasmer commented on #64
I haven't been able to test it yet, but my guess is that won't work. Unless the consuming app has done something like `require('babel/register')`, when your `es5.js` file attempts to `require('./helpers')`, it's going to try to parse that file, and will hit errors on the es6 syntax.

[2015-11-29 04:06] haydenbleasel commented on #64
@davewasmer I've updated Favicons to use an ES5 helpers file until ES6 is completely supported.

[2015-12-02 18:00] phbernard commented on #70
The manifest is used by the latest versions of Android Chrome. Previous versions use the 192x192 PNG icon.

[2015-12-03 05:26] haydenbleasel commented on #70
@phbernard Awesome :) Any ideas on the iOS8 icon?

[2015-12-07 16:37] johnholtripley opened #76 ""mobile-web-app-capable" not showing"
I was going to create a pull request to add in `<meta name='mobile-web-app-capable' content='yes'>` but I can see it in config/html.json within the android definition.
In the generated html (with the gulp-favicons wrapper), I get the `<meta name="apple-mobile-web-app-capable" content="yes">` but not the android version.
Is this a bug?
thanks

[2015-12-07 18:42] langri-sha opened #77 "`path` from configuration has no effect"
I configured `path` to something custom, but the URLs in the HTML output remained the same.

[2015-12-08 06:41] haydenbleasel commented on #77
Hey @langri-sha, I tested this locally and it works, it might be an issue with your configuration. Can I see your Gulpfile / JS file?

[2015-12-08 06:43] haydenbleasel commented on #76
Hey @johnholtripley, can I see your Gulpfile for this? I can't see an error in the configuration so I might have overlooked something during execution.

[2015-12-08 09:35] johnholtripley commented on #76
Hi, yeah, the full gulp file is at https://github.com/johnholtripley/Autumn-Earth/blob/master/site/gulpfile.js
Thanks

[2015-12-08 21:18] emaildano opened #79 "Manifest.json appears to be incomplete"
The file stops at `android-chrome-192x192`. Is that normal?

I'd like to use this file to build a `foreach` to dynamically bring in the listed favicons.

Here's the manifest.json build I have for example:

[code]

[2015-12-09 05:47] haydenbleasel commented on #79
Hey @emaildano, the [icons.json](https://github.com/haydenbleasel/favicons/blob/master/config/icons.json) file currently defines 6 icons, ending in `192x192`. This is correct according to my knowledge, unless I'm missing some icons completely or there's been an update. Are we missing something?

[2015-12-09 05:48] haydenbleasel commented on #79
I've verified that it matches the output from RFG and what's states in Google's [documentation](https://developer.chrome.com/multidevice/android/installtohomescreen).

[2015-12-09 15:59] emaildano commented on #79
@haydenbleasel, I should clarify. The `manifest.json` file I'm referring to one from my build.

After `gulp favicons`, that file is created and it only has the icons mentioned above. It'd be great if the file included apple, firefox, etc. related icons so I could bring them all in dynamically.

Right now I'm not passing any settings into the gulp task except the image file path, so it should all b

[2015-12-09 19:23] haydenbleasel commented on #79
It could be possible to add more icons to this, although I'd need to refer to @phbernard about what the standard is at this point in time.

Philippe, the W3C draft for [manifest.json](https://w3c.github.io/manifest/) looks like it supports stuff like splash screen icons and potentially other icons.

[2015-12-11 08:34] haydenbleasel opened #80 "Asset versioning"
See: https://github.com/RealFaviconGenerator/gulp-real-favicon/issues/5

- Timestamp
- File Hash (https://nodejs.org/api/crypto.html#crypto_crypto_createhash_algorithm)

Refer to RFG API for implementation style.

[2015-12-11 22:29] haydenbleasel commented on #70
Closing this issue, someone can raise it again if it's still a problem.

[2015-12-11 22:29] #70 closed

[2015-12-13 02:50] haydenbleasel opened #81 "Add option to preserve HTML"
Originally: https://github.com/haydenbleasel/gulp-favicons/pull/17

TL;DR if the user has written custom meta-tags, Favicons should not overwrite them.

[2015-12-13 02:55] haydenbleasel commented on #81
@mikew's solution:

[code]

[code]

[2015-12-13 02:57] haydenbleasel opened #82 ""opengraph: false" erroring"
Originally: https://github.com/haydenbleasel/gulp-favicons/issues/23

[code]

...

CC: @johnholtripley @IanCaunce

[2015-12-13 13:46] jraoult opened #83 "Allow the stream API to accept a callback for html"
The now "deprecated" `gulp-favicons` allowed to pass a callback as last arguments that was getting the HTML code as a string so that it could be manipulated and "manually" inserted in the web page (feature introduced here: https://github.com/haydenbleasel/gulp-favicons/commit/bccb0bcc6c24a9034d17de9371beb2eb14986a47)

It seems we lost this feature during the merge of the stream features to the mai

[2015-12-13 21:45] haydenbleasel commented on #83
Hey @jraoult, sorry for missing this feature, I'll get it back in ASAP. Out of curiosity, what was the main issue with the streaming API that means you still need that callback? i.e. why not use the typical:

[code]

[2015-12-13 21:51] jraoult commented on #83
Hey, nothing wrong with the "file" approach but I need to control the injection of the meta info into the page. To do that I use my own injection methods therefore I would need the string value of this block. I could indeed make it write in a temporary file then read this file to extract the metas but it is not really "gulpy" :)

[2015-12-13 21:54] jraoult commented on #83
Actually I'm happy to write a patch for that if you want. I would just need your inputs in terms of API: overload the `html` config property to accept a callback or pass the callback as a third argument to like `stream(options, (htmlCode) => {})`

[2015-12-13 21:59] haydenbleasel commented on #83
Hey, yeah a PR would be awesome but I'm trying to figure out if we can avoid a callback and solve this issue in another way. What's the reason behind the custom injection method? Potentially related is #81

[2015-12-13 22:17] jraoult commented on #83
I leverage that because the file doesn't exist a this stage, I'm collecting snippets and then assembling them in memory. One possibility would be to give to the `html` option a vinyl file object and then I could merge the content with the other bits.

That said, I feel that a callback is closer to what is going on underneath, simplifies the implementation of the `favicons` module since you don't h

[2015-12-13 22:34] haydenbleasel commented on #83
Alright yeah, good call. Theoretically your HTML file is meant to exist before running this task but it should be build-agnostic so I'm up for a callback PR :)

[2015-12-14 00:01] jraoult commented on #83
Alright then, I'll keep you posted

[2015-12-14 05:51] alanontheweb opened #84 "Images rotated. HTML markup different from file names."
The generated markup for *some* of the graphics such as-
href="assets/img/favicon/apple-touch-startup-image-2048x1496.png"
href="assets/img/favicon/apple-touch-startup-image-1024x748.png"

differ from the file names which are -
apple-touch-startup-image-1496x2048.png
apple-touch-startup-image-748x1024.png

These specifc images are also rotated 90 degrees. Am I missing something? All the rest work

[2015-12-14 06:24] alanontheweb commented on #84
Ah easy fix on the html.json

[2015-12-14 06:24] #84 closed

[2015-12-14 09:49] haydenbleasel commented on #84
Not your fault I believe. Related issue: #69

[2015-12-14 09:50] haydenbleasel commented on #69
[code]

[code]

[2015-12-14 16:01] alanontheweb commented on #69
Yeah, it's an easy fix in html.json. I just reversed the file name in my fork. Thanks!

[2015-12-14 18:35] haydenbleasel commented on #69
@alanontheweb Awesome. I'm not sure which way around the numbers are meant to be, but if you figure out, can you submit a PR? :)

[2015-12-14 18:46] alanontheweb commented on #69
Sure thing. Let me investigate to make sure all the orientations are set right and I'll do a PR.

[2015-12-14 19:08] haydenbleasel commented on #69
@alanontheweb Thanks mate. If you run `npm test` it will run the RFG generator too and that should show the correct output in the `test/images-online` folder.

[2015-12-15 00:17] haydenbleasel commented on #82
Update: This happens by setting any icon to `false` with `online: true`. It spits out `Reflect is not defined` which is strange as we're running ES6 all over the place. Potentially related issue:

[code]

[code]

[2015-12-15 00:27] haydenbleasel commented on #82
Added `harmony-reflect` polyfill, should be fixed in `favicons@4.3.1`.

[2015-12-15 00:27] #82 closed

[2015-12-15 00:31] haydenbleasel commented on #77
Moving this to #78 where we'll fix any path issues.

[2015-12-15 00:31] #77 closed

[2015-12-15 00:36] haydenbleasel opened #85 "Relative and Absolute path are the same"
[code]

Absolute should be `website.com/images/favicon.ico`.
Relative should be `images/favicon.ico`.

[2015-12-15 00:50] haydenbleasel commented on #76
Hey @johnholtripley, just realized the reason for this is because RealFaviconGenerator (the online version) doesn't generate this meta tag. @phbernard Thoughts on this?

[2015-12-15 00:59] #76 closed

[2015-12-15 09:09] johnholtripley commented on #76
hi @haydenbleasel - that makes sense, thanks for raising it with RFG

[2015-12-15 19:04] haydenbleasel commented on #53
- ~~https://www.npmjs.com/package/svg2png~~ (needs PhantomJS)
- ~~https://www.npmjs.com/package/svg-to-png~~ (needs Imagemin & PhantomJS)
- ~~https://github.com/shakiba/svgexport~~ (needs PhantomJS)
- ~~https://www.npmjs.com/package/librsvg~~ (needs native dependencies)

No luck so far :(

[2015-12-15 23:30] haydenbleasel commented on #58
[AutoTrace](https://www.npmjs.com/package/autotrace) should do the trick...

[2015-12-16 01:29] haydenbleasel commented on #60
Added in `favicons@4.3.3`

[2015-12-16 01:29] #60 closed

[2015-12-16 01:51] haydenbleasel commented on #85
Fixed in `favicons@4.3.5`

[2015-12-16 01:51] #85 closed

[2015-12-16 15:52] phbernard commented on #79
As far as I know, Android Chrome is the only browser that supports the JSON manifest, as described by the W3C. [Chrome extensions](https://developer.chrome.com/extensions/manifest) and [Firefox apps](https://developer.mozilla.org/en-US/Apps/Build/Manifest) also rely on a JSON manifest, but there are two different formats.

[Most recent Android Chrome supports splash screen](https://developers.goog

[2015-12-16 15:57] phbernard commented on #76
Yep, thank you for raising this! ;) It's https://github.com/RealFaviconGenerator/realfavicongenerator/issues/205

[2015-12-16 18:48] haydenbleasel opened #86 "Fix up HTML modification"
`"link[rel^='apple-touch-icon']"` does the job but I'd like to be more specific to be future-proof. Also:

[code]

These pseudo-meta-tags don't have any related files or generated HTML.

[2015-12-16 18:56] haydenbleasel commented on #86
Some Apple Startup meta-tags are missing too:

[code]

[2015-12-18 19:53] haydenbleasel commented on #86
Fixed in `favicons@4.4.0`

[2015-12-18 19:53] #86 closed

[2015-12-18 19:54] haydenbleasel commented on #81
@mikew Feature added in `favicons@4.4.0` / `gulp-favicons@2.2.2`. Just add `replace: false` to your configuration.

[2015-12-18 19:54] #81 closed

[2015-12-19 22:39] gisu opened #87 "ENOENT Error with 2.2.2"
Hi,
last week i found this nice Plugin, installed with Version 2.1.5 everything is fine. Today i started a new Build on CI, any new Build Fails because ENOENT

[code]

The Issue comes with 2.2.1 and 2.2.2. Don't know why exactly. When i switch back to 2.1.5 the build is fine.

[2015-12-19 22:42] haydenbleasel commented on #87
Hey @gisu, can I see your Gulpfile? Also, obviously the issue states that src/.system/favicon.html doesn't exist, so can you confirm that the file does exist? (or are you trying to write it?)

[2015-12-19 22:49] gisu commented on #87
Before i let the Plugin write the `favicon.html` in a empty `dist` Folder. With 2.1.5 without Issues. With 2.2.2 i become the Issue, so ein switched to a other Folder (that exist without a Build). I got the Issue also here, i added also a empty favicon.html so the plugin can overwrite - the same. File not found.

[code]

[2015-12-19 23:31] haydenbleasel commented on #87
Hey @gisu, okay I'll look into this. I think I'll also add `mkdirp` as a dependency so we never get write errors if a file/folder doesn't exist.

[2015-12-19 23:44] haydenbleasel commented on #87
Hey @gisu, I added `mkdirp` as a dependency so we never get write errors if a file/folder doesn't exist. Can you update and see what happens now?

[2015-12-23 17:56] langri-sha commented on #53
Would installing optional (native) dependencies be acceptable?

[2015-12-23 23:36] haydenbleasel commented on #53
@langri-sha possibly, what do you have in mind?

[2015-12-23 23:45] langri-sha commented on #53
Well, `2gis/node-rsvg` seems to hit home pretty close, in the here and now. Would it be acceptable to add it as a [optional dependency](https://docs.npmjs.com/files/package.json#optionaldependencies) and perform a runtime check when a SVG asset is provided?

I'm just assuming there is a large portion of users which already have their logo vectors provided in SVG, who are then exporting a PNG to be

[2015-12-24 06:19] andrey-hohlov opened #90 "Backslashes in browserconfig.xml"
Hi!

Try to using favicons with gulp.

[code]
In options set:
[code]
In browserconfig.xml get
[code]

With backslashes get an error when checking on http://realfavicongenerator.net/favicon_checker

Windows 7, Node v4.2.1, Gulp  3.9.0

[2015-12-24 07:26] Pupix opened #91 "Theme and tile colors"
Hello!

Would be nice to be able to specify the theme/tile color in the configuration object, this way I don't have to manually change the resulting meta tags after the build process has completed.

Cheers.

[2015-12-25 09:32] dandaka commented on #87
Probably the same bug.

Log https://gist.github.com/dandaka/d4cb03591267c7ac9bcb
Gulpfile and all other sources https://github.com/dandaka/dandaka.com/blob/master/gulpfile.js

[2015-12-26 00:15] strarsis commented on #80
So those links to extra gulp plugins indicate that URL-based cache busting is rather the job of a different/extra plugin (I agree btw)?

With best regards

[2015-12-26 00:16] strarsis commented on #91
I thought the config key "background" offers this?

[2015-12-26 00:38] haydenbleasel commented on #80
@strarsis I wish it could be, but since Favicons generates HTML and files but only returns files to the stream, only the files will get versioned if we use a seperate gulp plugin i.e. The HTML links will be incorrect.

[2015-12-26 00:39] haydenbleasel commented on #91
@strarsis It should. @Pupix is the background property not working for you?

[2015-12-26 03:05] strarsis commented on #83
In first post I read that gulp-favicons is now deprecated?
Can I use favicons directly in gulp standalone?

With best regards

[2015-12-26 03:07] strarsis commented on #80
Also, for example, I would like to just include the generated HTML in a Jade layout template:
[code]

[2015-12-26 03:11] jraoult commented on #83
@strarsis you can now use the `stream` method in `favicons`:
[code]

[2015-12-26 03:12] strarsis commented on #83
Thank you.
A deprecation notice on gulp-favicons would be helpful.

With best regards

[2015-12-26 08:54] Pupix commented on #91
No, it's' not working.

With the following config

[code]

I get the following HTML lines:

[code]
 and this `manifest.json`:

[code]

There's no hint of either [background](https://developer.mozilla.org/en-US/docs/Web/Manifest#background_color) or [theme color](https://developer.mozilla.org/en-US/docs/Web/Manifest#theme_color) in the manifest. I was expecting something like [this](https://github.

[2015-12-26 14:03] haydenbleasel commented on #83
@strarsis @jraoult `gulp-favicons` isn't deprecated. I'll update the master readme to be clear.

[2015-12-26 14:12] haydenbleasel opened #92 "Merge in Gulp README"
As per #83 and #90, people are using the streaming API for Gulp instead of the Gulp wrapper. I need to make this clearer in the docs.

[2015-12-26 14:31] haydenbleasel commented on #90
Hey @andrey-hohlov, 2 things:

1. You should use the Gulp wrapper: `gulp-favicons`.
2. Are you using the property `online: true`?

[2015-12-26 14:47] strarsis commented on #92
When one can use favicons stream (for vinyl fs) directly,
what are the advantages over using gulp-favicons instead?

[2015-12-26 14:49] strarsis opened #93 "Generate index.html (partial) from scratch"
Is it possible to let favicons generate the index.html from scratch?
I want to include it as partial in jade layout template.

Currently I just specify an empty dummy HTML file -
it would be even nicer if I could just pass "true" to that option key
and favicons would generate the HTML file purely from scratch.

Edit: So favicons will populate an empty file with markup
and further runs will then up

[2015-12-26 14:54] strarsis opened #94 "Some favicon files in root (/)"
A sub-folder can be specified for the URLs in generated markup.
Some browsers seem to always look the favicon and apple touch icon files up in root (/) of domain first,
resulting in unnecessary lookups
(See https://en.wikipedia.org/wiki/Favicon#Limitations_and_criticism and https://mathiasbynens.be/notes/touch-icons).

So wouldn't it make sense to store some of the files, notably the favicon ico a

[2015-12-26 15:23] strarsis opened #95 "Further favicon related markup elements"
Before I migrated to favicons for my favicon related markup,
I used the following additional elements:
- application-name
- apple-mobile-web-app-status-bar-style
- apple-mobile-web-app-title

Are they useful enough to be added to favicons markup template?

With best regards

[2015-12-27 10:07] haydenbleasel commented on #95
I think they would be useful, however they aren't technically "favicon-related". @phbernard What are your thoughts on this?

[2015-12-27 10:10] haydenbleasel commented on #94
@strarsis This is a good point, the user really shouldn't be able to configure the path of their favicons as they should be located in the root. However, I don't think having a path variable defaulting to root is a bad idea, especially if the user has some edge case where their setup requires favicons in a different folder or something.

[2015-12-27 10:11] haydenbleasel commented on #92
None, just helpful to have a Gulp wrapper. Check the code for it, it literally just passes parameters to the Stream API: https://github.com/haydenbleasel/favicons/blob/gulp/index.js

[2015-12-28 14:07] andrey-hohlov commented on #90
@haydenbleasel, thank you for fast response!

1. Ok, i have install it.
I think be better if we need to install only one.

2. No, I use `online: false`.
If set `true` it works without problem with slashes, but it works slowly: ~ 15-20 second vs. 3 second.

Also, if I understand correctly, setting `true` making request to RealFaviconGenerator. It's bad in case when i need to build my project withou

[2015-12-28 22:17] strarsis opened #96 "Incremental builds/gulp-changed support"
Each time I run favicons, it will recreate all image files, etc,
either online or locally standalone. In both cases this takes time.

Is there a way integrating gulp-changed with (gulp-)favicons?

Thank you and
with best regards

[2015-12-29 19:08] phbernard commented on #95
These elements are a bit borderline, but yes, I think they deserve to be supported:

  - `application-name` and `apple-mobile-web-app-title`: the `manifest.json` file, supported by Android Chrome, requires an app name. So when you play with multi-platform icons, there is already an app name around. It makes sense to support the equivalent for other platforms.
  - `apple-mobile-web-app-status-bar-s

[2015-12-29 23:01] haydenbleasel commented on #96
@strarsis Theoretically `gulp-changed` should just work e.g.

[code]

[2015-12-29 23:02] haydenbleasel commented on #95
Alright well, let's get them implemented :+1:

[2015-12-30 00:40] strarsis commented on #96
Thank you for your response!

gulp-changed requires a destination - what file can I use? The HTML file? All files will change anyway, so I could pick any single file?

With best regards

[2015-12-30 01:11] strarsis commented on #96
So I ended up coupling favicon.png (input file) with favicon.ico (one of the output files):
[code]
Though when the favicons task is cancelled for whatever reason then gulp-changed would not detect whether really all files are updated.

With best regards

[2015-12-30 14:15] dandaka commented on #87
I have switched to 2.1.5. It generates images without errors, but favicon.html is empty.

[2016-01-02 11:35] haydenbleasel commented on #87
I guess it's erroring when it doesn't find a file rather than ignoring that and writing a new one. I'll fix this up.

[2016-01-02 11:36] dandaka commented on #87
Which file? favicons.html?

[2016-01-02 11:36] haydenbleasel commented on #87
Whatever the output file is (so yep, `favicons.html`).

[2016-01-02 11:46] dandaka commented on #87
Creating an empty file fixed a problem for me.

[2016-01-02 12:20] andrey-hohlov commented on #94
For example, if we use gulp and we need make favicons, store them in `/favicons` and store only favicon.ico in `/`

We can just use [gulp-filter](https://github.com/sindresorhus/gulp-filter).
Filter out only `favicon.ico`, or also filter `apple-touch-icon-*.png` and save them where we need.

In my case i use jade and i don't need generate html by favicons. In other cases you can create one times m

[2016-01-02 15:54] strarsis commented on #94
That's nice, now if we could use some gulp plugin that takes in all the favicon file path,
all, those in / and those in /favicons, and then generates a HTML file from these paths.

[2016-01-02 23:50] strarsis opened #99 "Art direction"
It may be the designer's intention to use a different image
for higher resolutions than for lower resolutions.
For example, a 16x16 favicon could be completely differently designed
than a much larger apple touch icon.

The designer could pipe multiple image files into favicons,
favicons will then use these image files by their resolution.
One could argue that providing input image files of multipl

[2016-01-04 05:33] #83 closed

[2016-01-04 05:42] haydenbleasel commented on #87
Fixed in `favicons@4.4.4`

[2016-01-04 05:42] #87 closed

[2016-01-04 05:48] haydenbleasel commented on #90
@andrey-hohlov Yep you should only use `gulp-favicons` for Gulp projects. It's just a single-line wrapper around `Favicons.Stream` so we can keep all the logic in the main module. Also it's totally fine to keep `online:false`, I just needed to check whether it was a Favicons or RFG issue.

Now I have to figure out why backslashes are appearing for you but not for me :S

[2016-01-04 06:40] #92 closed

[2016-01-04 06:41] haydenbleasel commented on #93
Added in `favicons@4.4.4`. Just specify a filename like `html: 'index.html'` and it'll write a blank file.

[2016-01-04 06:41] #93 closed

[2016-01-04 07:07] haydenbleasel commented on #91
Fixed in `favicons@4.4.5`

[2016-01-04 07:07] #91 closed

[2016-01-04 07:07] haydenbleasel commented on #95
Added in `favicons@4.4.5`

[2016-01-04 07:07] #95 closed

[2016-01-04 07:10] haydenbleasel commented on #96
@strarsis This feature has been added in #97.

[2016-01-04 07:10] #96 closed

[2016-01-04 08:28] haydenbleasel commented on #94
Yep, you can probably use `gulp-filter` and #97.

[2016-01-04 08:28] #94 closed

[2016-01-04 08:32] haydenbleasel commented on #90
@andrey-hohlov I can't efficiently test this as I'm an OSX user, but if you test and create a PR with the following changes:

[code]

It could be a solution.

[2016-01-04 15:58] andrey-hohlov commented on #90
@haydenbleasel
I've tried with this code and have this result:
[code]

It's works with some modification:

[code]

[2016-01-04 20:04] strarsis commented on #96
How can I access the config object when using gulp-favicons plugin?
An example would be very helpful.
[code]

Thank you and
with best regards

[2016-01-04 21:35] strarsis commented on #96
Current approach using favicons instead gulp-favicons:
[code]

How can I now use it with gulp-changed or gulp-newer?

[code]

With best regards

[2016-01-05 12:42] andrey-hohlov opened #101 "Creating only 16*16 favicon.ico"
Hello again!

WIndows 7, Gulp 3.9, using Gulp wrapper for favicons

When set `online: false` i get favicon.ico 16*16 (~0.5kb)
It's opening in browser, opening in windows image viewer. But hasn't preview image in folder.

Realfavicongenerator checker say:
[code]
[code]

If set `online: true` we get favicon.ico 48*48 (with other sizes packed inside, weight about 14 kb). It passed realfavicongenerato

[2016-01-05 14:41] dandaka commented on #87
I get same error with `gulp-favicons@2.2.3`

[code]

Creation of an empty file still fixes the problem.

[2016-01-06 02:55] haydenbleasel commented on #90
Closing this issue for #100

[2016-01-06 02:55] #90 closed

[2016-01-06 10:35] haydenbleasel opened #102 "Expose config in gulp-favicons"
Old:
[code]

New:
[code]

[2016-01-06 10:38] haydenbleasel commented on #96
@strarsis Config issue for gulp-favicons is here: #102

[2016-01-06 19:53] strarsis commented on #102
So instead of gulp-favicons, favicons is used?

With best regards

[2016-01-08 06:31] haydenbleasel commented on #102
Added in `gulp-favicons@2.2.5`.

@strarsis You can now use `require('gulp-favicons').config`.

[2016-01-08 06:31] #102 closed

[2016-01-08 06:51] haydenbleasel commented on #101
Ahh that's true, we're only generating it at one size which isn't too good. I'm actually not sure how to composite multiple images into a single `.ico` file, or if Jimp even has that capacity. I'll need to look into this, or alternatively a PR is welcome from anyone that knows.

[2016-01-09 03:25] vn38minhtran opened #103 "Absolute url"
[code]
I think url shoud be `http://localhost:3000` instead of `http:/localhost:3000`

[2016-01-09 03:40] haydenbleasel commented on #103
I thought this was fixed in #73 / #74. What versions of Favicons / Gulp-Favicons are you using?

[2016-01-09 03:44] vn38minhtran commented on #103
You can see more info here.
- Favicons version : https://github.com/vn38minhtran/react-flux-starter/blob/babel5/package.json#L34
- Html : https://github.com/vn38minhtran/react-flux-starter/blob/babel5/app/_favicons.html#L27
- Generate code : https://github.com/vn38minhtran/react-flux-starter/blob/babel5/tasks/build/favicons/generate.js

[2016-01-09 03:53] vn38minhtran commented on #103
I think bug come from line:
https://github.com/haydenbleasel/favicons/blob/master/helpers.js#L42.
When call replace it replace `//` by `/`.

[2016-01-09 04:01] vn38minhtran commented on #103
[code]

[2016-01-11 23:15] mogusbi opened #105 "Disabling web app focussed meta tags"
Is there any way to generate icons without the added meta tags that are aimed more at web apps rather than websites, namely the mobile-web-app-capable, apple-mobile-web-app-* and application-name meta tags? There seems to be no configuration setting to disable these web app meta tags

[2016-01-12 09:08] dandaka opened #106 "No error is given, when file is not found"
[code]

Config
[code]

[2016-01-12 11:35] haydenbleasel commented on #106
@dandaka No error is thrown because it should write the file if it doesn't exist.

[2016-01-13 23:59] strarsis commented on #102
For the interested, here a sample how to get an array of the filenames from the config from gulp-favicons:
[code]

With best regards

[2016-01-14 13:26] dandaka commented on #106
I mean source `./src/img/favicon.png` does not exist. Nothing happens, no error, no action.

[2016-01-14 13:40] haydenbleasel commented on #106
Ahhh okay the source file isn't found. I'll look into this.

[2016-01-14 15:34] andrey-hohlov commented on #103
My mistake :(

[2016-01-15 04:15] andrey-hohlov commented on #101
Jimp don't support and don't want support.
lwip dont't support and don't want too: https://github.com/EyalAr/lwip/issues/38
Other that i find use ImageMagick or another dependence.

Maybe it's enough to support only 16x16 for old browsers (with no-retina screens they need only 16*16), because new browsers can use png.

[2016-01-18 04:46] haydenbleasel commented on #101
Yep, we might have to do this for now.

[2016-01-19 11:17] haydenbleasel commented on #69
Closing this for #107

[2016-01-19 11:17] #69 closed

[2016-01-19 11:20] haydenbleasel commented on #105
Hey @mogusbi, not at the moment but if you've got a convincing use case then I'll be happy to explore a solution!

[2016-01-19 11:21] haydenbleasel commented on #103
I think this is also due to `path.join` which is meant to be `url.resolve` (to preserve the double slashes). This keeps reverting in new commits so I'll need to make sure this is fixed.

[2016-01-19 11:22] haydenbleasel commented on #79
@emaildano For argument's sake, what would your suggested manifest look like?

[2016-01-19 11:25] haydenbleasel commented on #53
@langri-sha I love the look of that module but it definitely requires the native deps. I want to compromise but Google's planning on using this for WSK and their main issue was with native deps. Plus, I'm aiming for a pure JS build system hence the switch to Jimp.

[2016-01-19 12:01] mogusbi commented on #105
There must be more people out there than just me who just want to use this plugin to populate my bog-standard web page with the plethora of favicons out there and nothing more?

[2016-01-19 15:20] emaildano commented on #79
@haydenbleasel like your [icons.json](https://github.com/haydenbleasel/favicons/blob/master/config/icons.json) file.

A file with which I could parse and display all the icons I need in the head.

Right now the only file I get is the manifest.json build file which has all the `android-chrome` related icons but not the other icons mentions in html.json, icons.json, etc.

Maybe I'm missing how to cr

[2016-01-20 07:05] haydenbleasel commented on #103
Fixed in `favicons@4.5.2`

[2016-01-20 07:05] #103 closed

[2016-01-20 23:00] haydenbleasel commented on #106
@dandaka Looked into how Gulp handles missing source files, apparently it just doesn't run. Did a test with `gulp-less` and a file that doesn't exist, just did the following:

[code]

So as intuitive as I think a message would be, the Gulp ecosystem recommends just leaving it.

[2016-01-20 23:00] #106 closed

[2016-01-20 23:02] haydenbleasel commented on #105
I don't see why you don't want them though. They're fantastic for icon validity and SEO, and you're getting them for free without doing any extra work. If there is a convincing argument towards opting out of HTML generation then this issue can be re-opened.

[2016-01-20 23:02] #105 closed

[2016-01-20 23:14] haydenbleasel commented on #101
@andrey-hohlov Stored this info in the README for now. We'll get back to it when possible.

[2016-01-20 23:14] #101 closed

[2016-01-20 23:16] haydenbleasel commented on #80
@strarsis Actually that's a good idea. Post `favicons` generation, you can use something like `gulp-useref` + `gulp-rev` + `gulp-rev-replace` to sort this stuff out. I've done something similar in [Catalyst](https://github.com/haydenbleasel/catalyst/blob/master/gulpfile.js) if that helps. Nice work.

[2016-01-20 23:16] #80 closed

[2016-01-20 23:16] haydenbleasel commented on #55
Get around to this later when it's needed.

[2016-01-20 23:16] #55 closed

[2016-01-20 23:22] haydenbleasel commented on #53
Documented in the README for now, we'll come back to this when possible.

[2016-01-20 23:22] #53 closed

[2016-01-20 23:22] haydenbleasel commented on #58
Documented in the README for now, we'll come back to this when possible.

[2016-01-20 23:22] #58 closed

[2016-01-20 23:22] haydenbleasel commented on #61
Documented in the README for now, we'll come back to this when possible.

[2016-01-20 23:22] #61 closed

[2016-01-20 23:28] haydenbleasel commented on #54
Probably not necessary for now, programmatic usage intended.

[2016-01-20 23:28] #54 closed

[2016-01-20 23:29] haydenbleasel commented on #79
@emaildano I'm curious what this would look like so if you'd like to set up a PR then I'll take a look.

[2016-01-20 23:38] haydenbleasel commented on #101
Also, we've discussed this issue [here](https://github.com/oliver-moran/jimp/issues/87) too.

[2016-01-21 08:53] mogusbi commented on #105
I'll try to word this a bit better than last time as I posted without really giving it too much thought.

Regarding the web app capable tags, some won't want them because if you add a page to your home screen, you don't automatically want it to be launched in a safari window that doesn't have any of the browser controls available.

As for the application title, the default for the appName param is

[2016-01-22 12:16] haydenbleasel commented on #105
Hey @mogusbi, I definitely understand there's a potential need for opting out of HTML but I believe there is a better solution to these issues:

1) If you want to overwrite tags that generate e.g.  `<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">`, you can add `<meta name="apple-mobile-web-app-status-bar-style" content="default">` to your HTML and use `replace: fals

[2016-01-28 14:51] perrin4869 opened #109 "[feature] pipe html file"
Hi, I just finished setting up gulp to automate favicon generation, and all the images are created perfectly as expected :D
In my setup, I am using jade as the express template engine, and so in order to use the html generated by this `favicons` module, it would be great to be able to pipe the generated html file through the `gulp-html2jade` plugin, and thus end up with a jade file to include in m

[2016-01-28 15:53] perrin4869 commented on #109
Basically, this is what I want to achieve:

[code]

[2016-01-29 07:15] perrin4869 commented on #109
ok I put together a quick implementation, will send pull request in a little while!

[2016-01-29 10:37] haydenbleasel commented on #109
@perrin4869 Awesome, sounds good :)

[2016-01-29 16:01] daviestar commented on #99
Hey, thought I'd throw my 2 cents in here.. after reading the docs and some [closed issues](https://github.com/haydenbleasel/favicons/issues/61) it seems the package is aiming for a totally automated favicon process - just give it a logo .png and it does the rest.

From a designers point of view, I'd suggest a more manual approach.  Of course, design process is a bit of an open-ended subject, but

[2016-01-29 18:57] strarsis commented on #99
+1 for support of SVG input files.

Art directions should also (still) be possible with SVG files:
16x16-32x32.svg (use for all output files in 16x16 px up to 32x32 px range)
"Resolution gaps" of provided input images can be filled by using the next larger available step.

Example:
16x16-32x32.svg - used for 16x16 px up to 32x32 px output image
256x256.svg - used exclusively for a 256x256 px outpu

[2016-01-31 01:24] haydenbleasel commented on #53
Update: If you're using Gulp, you can pipe from `svg2png` for now.

[2016-01-31 01:25] #109 closed

[2016-01-31 01:29] haydenbleasel commented on #99
@daviestar @strarsis Regarding SVG, see #53, it's a large issue and your thoughts there would be appreciated. Keeping this issue for size-oriented configuration, having a source config like this would be optimal:

[code]

[2016-02-02 03:43] perrin4869 opened #111 "gulp branch"
Hi, I just noticed that you chose to separate `favicons` and `gulp-favicons` as just separate branches of the same repository. It is a very interesting choice, yet it is rather counter intuitive. For example, running `git diff master..gulp` would be rather meaningless. Is there any particular reason behind this choice?

[2016-02-02 06:29] haydenbleasel commented on #111
Hey @perrin4869, yeah there is a reason. The entire API (normal and streamable) is located in the master branch (main module). Therefore, it's possible to use it in a streamable environment that isn't gulp with `require('favicons').stream`. A Gulp module is simply the implementation of my Streamable API with the word "gulp" on it, so the gulp branch is just a naming wrapper and allows me to publis

[2016-02-02 06:29] #111 closed

[2016-02-02 08:22] perrin4869 commented on #111
Cool! Yeah I like for l how you combine the streaming api and the non streaming api. I'm just wondering if it makes sense semantically have separate branches rather than separate repos like most gulp plugins do. It's not really obvious at first

[2016-02-02 08:24] perrin4869 commented on #111
I'm saying it because of the semantics of the git diff statement I mentioned above

[2016-02-02 08:29] haydenbleasel commented on #111
The only reason there is a gulp branch is so we can publish it on NPM. The branch has no real code or logic. It'll never update apart from bumping major version numbers of dependencies. Why do you need to diff the two branches?

[2016-02-02 09:11] perrin4869 commented on #111
Well the fact that you wouldn't want to do a diff is kinda the point... Most of the time branches are used to try new features, I just don't see a separate branch as a semantic way of representing a gulp plugin. A new repo with the exact same code in the master branch makes more semantic sense to me

[2016-02-03 06:51] haydenbleasel commented on #111
Ahh okay, I get where you're going with it and it definitely makes more sense semantically to have it in a new GitHub repo, however I just fixed up all my modules and put them in this fashion as it's much easier to handle updates. I think if the Gulp version becomes vastly different from the parent, or we start getting a mad influx of PRs and new features then I'll split them.

[2016-02-11 10:57] 0x80 opened #114 "open-graph image very large 1500x1500"
I use a source png which is roughly 200x200 but I the generated open-graph.png image is 1500x1500 and it doesn't look ok when sharing. What am I missing?

[2016-02-11 11:06] 0x80 commented on #114
Nevermind fb wants large images... My problem is that is doesn't seem to fit a square image properly for sharing, so I need to adjust the aspect ratio or the original

[2016-02-11 11:06] #114 closed

[2016-02-12 01:02] joDelicious opened #116 "Http:// becomes http:/ in generated html"
Hi !

in the path option, i need to use an absolute url to reach the theme folder...
But the path I am writing in the favicons options gets transformed and looses a the second slash next to http in all generated html... w3c does not like that.

http://www.example.com/wp-content/themes/mytheme/assets/favicons

becomes :

http:/www.example.com/wp-content/themes/mytheme/assets/favicons

I've searched

[2016-02-16 12:23] rdallasgray opened #117 "gulp-favicons/es5 requires favicons (es6)"
Hey, I'd submit a PR for this but there doesn't seem to be a separate GitHub repo for gulp-favicons.

Line 3 of gulp-favicons/es5.js requires "favicons" rather than "favicons/es5" -- which breaks under < Node 4.

[2016-02-16 13:02] haydenbleasel commented on #117
https://github.com/haydenbleasel/favicons/blob/gulp/index.js

There is no gulp-favicons/es5, my bad. This file should be `favicons/es5`. PR gladly accepted.

[2016-02-21 01:47] haydenbleasel commented on #116
Argh this should have been fixed in #103. I'll look into it.

[2016-02-21 02:40] joDelicious commented on #116
I don't know if it can be of any help but I'm using gulp-favicons 2.2.6

[2016-02-22 03:23] michaelmior opened #119 "Override theme-color"
Is there any way to change the value of the `theme-color` meta tag generated for Android? Actually, it feels really out of place for a library that generates favicons. In any case, I'd like to specify a different colour instead of the default white.

[2016-02-23 11:51] haydenbleasel commented on #119
Hey @michaelmior, the `background` attribute propogates onto all colour-related fields including `theme-color`. I understand your thoughts on metadata generation and I'm currently musing over different methods of separating / handling this.

[2016-02-23 11:51] #119 closed

[2016-02-23 11:53] haydenbleasel commented on #117
Fixed in #118

[2016-02-23 11:53] #117 closed

[2016-02-23 12:42] michaelmior commented on #119
@haydenbleasel I assumed that was the case. However in my case, the background colour of my favicon does not match the colour I want to use as the `theme-color`. For now I'm just taking advantage of the fact that if there are multiple specifications of `theme-color` the first one seems to be used.

[2016-03-02 14:15] mxl opened #120 "High memory usage"
I run gulp-favicons with these options:

    gulp.src('icon.png')
    .pipe(favicons({
            appName: 'My App',
            display: 'standalone',
            orientation: 'portrait',
            version: '1.0.0',
            path: 'favicons/',
            url: 'http://example.com/,
            html: 'index.html',
            replace: true,
            icons: {
                android: true,

[2016-03-11 14:02] haydenbleasel commented on #120
@mxl Your image should be a maximum of `1500x1500` - the size of the OpenGraph image. Anything above that is overkill. Other than that, I have no idea. Perhaps there are code optimisations to be done.

[2016-03-11 14:04] haydenbleasel commented on #116
@joDelicious try removing Favicons completely (folder + package.json entry) and re-installing. Gulp wrapper uses the most recent Favicons version so that could be out of date on your machine.

[2016-03-19 16:29] mbardelmeijer commented on #120
Got the same issue just now. When the favicon generation starts, memory fills up really fast and process is killed by the kernel. `icon.png` is 1024x1024, tried online & offline generation.

[2016-04-12 12:58] stalinkay opened #122 "gulp-favicons not working in gulp workflow"
I installed **gulp-favicons** as part of my gulp workflow but it crashes when this I use `favicons = require('gulp-favicon');` even without running the task, it still produces the following error

[code]

[2016-04-12 13:26] stalinkay commented on #122
Please disregard this. I forgot to check the dependencies.

[2016-04-12 13:26] #122 closed

[2016-04-18 05:25] haydenbleasel commented on #79
Will re-open when a PR or complete suggestion is provided.

[2016-04-18 05:25] #79 closed

[2016-04-18 05:26] haydenbleasel commented on #99
Will look into this again for later version.

[2016-04-18 05:26] #99 closed

[2016-04-18 05:27] haydenbleasel commented on #116
Closing due to no response.

[2016-04-18 05:27] #116 closed

[2016-04-18 05:29] haydenbleasel commented on #120
Not sure there's much I can do about it. I get around this on my remote SSD with 2GB of RAM by creating a massive swapfile. Online generation is done on the RFG servers so it's a valid workaround but you get a slightly different result. Not sure what I can do about this for now, it's just a memory-intense module.

[2016-04-18 05:29] #120 closed

[2016-04-18 12:53] strarsis commented on #53
Why is a pure JavaScript solution for SVG rendering required?
Isn't this a build tool and usually run on nodejs (with bindings)?

[2016-04-22 00:03] mattdrose opened #123 "Generated favicons has a faint border"
For some reason my generated favicons have a faint border at various points. I'm wondering if it has something to do with my source png.

Source:
<img src="https://cloud.githubusercontent.com/assets/1107972/14727628/f6fa1e60-07fa-11e6-9aa4-a2ab79c6ec22.png" width=150 height=150 title="Original"/>

Generated:
<img src="https://cloud.githubusercontent.com/assets/1107972/14727703/9755826e-07fb-11e6-8

[2016-04-26 04:45] amilajack opened #124 "Add app theme-color"
Chrome supports theme colors a meta tag: `<meta name="theme-color" content="#BD9655">`. Would it be a good idea to use the `background` property to set the theme color as well?

[2016-04-27 04:30] haydenbleasel commented on #124
Hey @amilajack, aren't we already doing this?

[2016-04-27 04:41] amilajack commented on #124
Here is my configuration:

[code]

This is my output:

[code]

[2016-04-28 14:32] jantimon opened #125 "Recommended source file"
Hi,

are there any information about the recommended source file for offline icon generation?
Like dimensions and file type?

Thanks

[2016-04-29 02:58] haydenbleasel commented on #125
Kinda depends on what you want to generate but a `1500x1500 PNG` should fit all cases.

[2016-04-29 02:58] #125 closed

[2016-05-05 10:23] BenjaminRCooper opened #126 "Adding mask icon for Safari pinned tab icons"
Is it possible to look into adding the mask-icon for Safari, or is it out of scope?

`<link rel='mask-icon' href='my-icon.svg' color='white'>`

[2016-05-06 00:31] haydenbleasel commented on #126
Hey @BenjaminRCooper, check out #61. We generate metatags for the icons we produce. We can generate that tag for sure, problem is we can't process SVG files :(

[2016-05-24 06:58] Iwasawafag opened #127 "`theme-color` always equals to #FFFFFF when RFG used for icon generation"
When RealFaviconGenerator is being used, regardless of `background` value passed in configuration object in generated HTML it always says:

[code]

~~I also tried to modify default value (`favicons.config.rfg.favicon_design.android_chrome.theme_color`) but that changed nothing.~~
**UPD:** Actually, no, changing it manually does the trick

[2016-05-25 23:06] amilajack commented on #124
Turns out that the theme color wasn't being read because because I wasn't configuring my manifest file correctly.

[2016-05-25 23:06] #124 closed

[2016-06-01 20:30] yoanmalie opened #128 "Path for the HTML file"
Hello,
I use gulp-favicons, and i want to know if it's possible to chose another directory for the index.html file ? If not, can you add this feature please ?

Thanks !

[2016-06-01 23:36] dreamyguy commented on #128
Hi there @yoanmalie,

It's possible to define another path to the `index.html` file, the path on one of my apps is `../../favicons/favicons.html`.

Take a look at what I did here: https://github.com/dreamyguy/gitinsight/tree/react. The project is under development but the **favicons** task is working fine. 🚀

* [The favicons task](https://github.com/dreamyguy/gitinsight/blob/react/gulp/tasks/favic

[2016-06-02 01:30] haydenbleasel commented on #128
Thanks @dreamyguy :+1:

[2016-06-02 01:30] #128 closed

[2016-06-02 01:31] #126 closed

[2016-06-02 19:58] wolfgang42 commented on #101
I just found [kevva/to-ico](https://github.com/kevva/to-ico), which takes an `Array<Buffer>` of PNG images and seems to be working great.

[2016-06-02 20:00] dreamyguy commented on #128
Np @haydenbleasel, couldn't live without your take on `favicons`. Cheers!

[2016-06-06 17:30] Iwasawafag commented on #127
I see why. Current code [mistakendly assumes](https://github.com/haydenbleasel/favicons/blob/04cee02/helpers.js#L266) that `theme_color` specidied under `manifest` object

[code]

when should be

[code]

[2016-06-07 15:03] Sizuko opened #129 "TypeError on require('favicons')"
I've got this error :

It triggers on my require of favicons and i don't know how to fix it. I didn't find any other issue talking about it, so if anyone have an idea it will be nice.

[2016-06-08 02:14] haydenbleasel commented on #129
Hey @Sizuko, that's very strange. What version of node are you running? `node -v`

[2016-06-08 09:23] Sizuko commented on #129
My bad, i try to import it on client side instead of server side.

[2016-06-08 10:18] #129 closed

[2016-06-13 15:04] Sizuko opened #130 "Apple icons sizes"
Hello everyone,

I was wondering on where you get all the apple icons sizes ?
Because when i search on Xcode for icons sizes i didn't get that much of yours, only 1 or 2.

Which sizes are the the good ones, Your or Xcode's ?

[2016-06-13 19:22] Nabilamehjabin commented on #129
Restart for progress

[2016-06-22 02:39] haydenbleasel commented on #130
Hey @Sizuko, sorry for the delay. Big question as Apple's documentation is super scattered and always updating, but try here for a starting point:

- http://stackoverflow.com/questions/2997437/what-size-should-apple-touch-icon-png-be-for-ipad-and-iphone-4
- https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebAp

[2016-06-22 13:09] Sizuko commented on #130
Hi,

I spoke with the dev of RealFaviconGenerator and he gave me the same answer as you.
Sorry for the bad news but only a few of your apple icons sizes are the good ones.
Take a look to :https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/IconMatrix.html#//apple_ref/doc/uid/TP40006556-CH27-SW1
These are the latest icons and launch images sizes for ios. I made

[2016-06-28 13:30] haydenbleasel commented on #130
Okay, I'll look into this when I get some free time :+1:

[2016-07-01 10:58] evilebottnawi opened #131 "Add meta `apple-touch-fullscreen`"

[2016-07-12 16:05] WuglyakBolgoink opened #132 "gulp-favicon replaced html file"
Hi,
In my config:

[code]

if I start gulp-task - this task cleared my existing HTML file and put into this file generated array of meta-links....

Is it possible to append this array before `</head>`??? or any  other case to get snippet from gulp task?

Thanks!

[2016-07-19 17:52] evilebottnawi opened #133 "Add `start_url` option to android `manifest.json`"
https://github.com/google/web-starter-kit/blob/master/app/manifest.json#L21

[2016-07-21 11:16] evilebottnawi opened #134 "Integrate ico generator"
https://github.com/kevva/to-ico
I can PR if you accept this issue.

[2016-07-22 07:51] haydenbleasel commented on #134
Looks good, go ahead 👍

[2016-07-26 00:25] #134 closed

[2016-07-26 08:18] Sizuko opened #136 "SyntaxError: use of const in strict mode"
Hi,

Since you merge with #135, i got this error.
It seems it comes from index.js file in to-ico package.

[2016-07-26 08:25] evilebottnawi commented on #136
@Sizuko Thanks for feedback, what node version are you use?

[2016-07-26 08:29] Sizuko commented on #136
I'm on 6.2.0

[2016-07-26 08:33] evilebottnawi commented on #136
@Sizuko can't reproduce? Can you get more information about problem?

[2016-07-26 08:38] evilebottnawi commented on #136
@Sizuko `toIco` not support 0.10 node, maybe best solution up version nodejs? If this is not possible, I see what you can do with it.

[2016-07-26 08:38] Sizuko commented on #136
Here is a copy of the error that i get when i start my meteor app:

[code]

[2016-07-26 08:41] evilebottnawi commented on #136
@Sizuko what about up version node, i written this above?

[2016-07-26 08:42] Sizuko commented on #136
For now i'm using meteor 1.3.4 which is using the version of node that i tell you but they are updating meteor to 1.4 and they are upgrading to node version 4.4.7
Don't know if it will fix it my error.

And for now until i know how to fix it i will continu to use favicon 4.7.1 that i used before updating.

[2016-07-26 08:45] evilebottnawi commented on #136
@Sizuko good solution, i think we need docs about this.
/cc @haydenbleasel
We will need write note in docs about support for old nodejs version users.

[2016-07-26 08:48] Sizuko commented on #136
I'll make you know if meteor 1.4 fix my error.
Until then, thx for for fast reply @evilebottnawi

[2016-07-26 10:34] haydenbleasel commented on #136
@Sizuko @evilebottnawi It's because `to-ico` is our only dependency written purely in ES6. So the answer is to get Node running on v5 or v6+ (with ES6 support) but I'd love if `to-ico` implemented an ES5 version like `Favicons` does.

[2016-07-26 10:57] evilebottnawi commented on #136
@haydenbleasel we can do PR

[2016-07-26 11:34] haydenbleasel commented on #136
@evilebottnawi Yeah it should be easy, just need a gulpfile like this repo with Babel.

[2016-07-26 11:36] evilebottnawi commented on #136
@haydenbleasel i create issue, let's wait what say @kevva

[2016-07-26 11:39] evilebottnawi commented on #133
@haydenbleasel what about this question? i can do PR.

[2016-07-26 11:42] haydenbleasel commented on #133
Yeah PR would be awesome. Cheers :)

[2016-07-28 01:27] #133 closed

[2016-08-02 11:10] yoanmalie opened #138 "Create php file instead html"
Hello,
If i want a .php file instead .html but i have many 0000 characters in it, not HTML code.

I use gulp-favicons.

config:

[code]

This is what i have in my favicons.php file:

[code]

[2016-08-03 15:23] jwandrews commented on #123
@mattdrose is was due to the white stroke on the src image. removed stroke. fixed border ghosting.

[2016-08-03 15:47] jwandrews opened #139 "Generating 1.91:1 or 1:1 ratio image for Facebook Open Graph meta tag"
According to Facebook's own [Sharing Best Practices](https://developers.facebook.com/docs/sharing/opengraph/object-properties) regarding the og:image tag, the images should be of ratio 1.91:1 or similar to limit cropping.

They suggest an optimal resolution of 1200x630 pixels. The generated open-graph.png (1500x1500 pixels) icon is much too large and is cropping a lot of the content of my source f

[2016-08-04 03:48] mattdrose commented on #123
Beauty! Thanks 👍

[2016-08-04 03:48] #123 closed

[2016-08-08 09:38] LeZuse commented on #120
Looks like an issue with Jimp https://github.com/oliver-moran/jimp/issues/153

[2016-08-09 13:04] andrey-hohlov opened #140 "New lighter icons package"
Hi!
RFG updated: http://realfavicongenerator.net/blog/new-favicon-package-less-is-more/
Now there is less icons and it's good.

Are there any plans to update?

[2016-08-09 15:36] evilebottnawi commented on #140
@andrey-hohlov you can setup what specific icons you need throw config. What exactly do you mean?

[2016-08-09 18:45] haydenbleasel commented on #140
Like @evilebottnawi said, we _should_ be able to get a lighter icons package through the config. If this isn't the case, then there's modularisation work to be done. Haven't looked into it though.

[2016-08-10 05:30] andrey-hohlov commented on #140
@evilebottnawi @haydenbleasel just true new RFG, it's create only:
[code]

In `browserconfig.xml` there is:
[code]

in `manifest.json` there is:
[code]

We can do this with config?

[2016-08-10 08:42] evilebottnawi commented on #140
@andrey-hohlov i think it is good idea, but in future major release, because some CI build can failed (breaking changes)

[2016-08-11 15:31] haydenbleasel commented on #139
Come to think of it, I don't think either of these should be in Favicons. These cover photos are meant to be proper images rather than your logo.

[2016-08-11 17:09] jwandrews commented on #139
This is what I thought too as I was looking into this. It's weird that a favicon package would be generating this image. It's a different use case and purpose. I have turned the og generation off for now and just using a regular image and not the generated file.

[2016-08-15 05:42] haydenbleasel commented on #139
I'll remove this on the next publish.

[2016-08-15 10:51] haydenbleasel commented on #139
Removed in `favicons@4.7.4`

[2016-08-15 10:51] #139 closed

[2016-08-15 10:52] haydenbleasel commented on #131
Happy to accept a PR for this :)

[2016-08-15 10:58] haydenbleasel commented on #127
Sorry for the delay @Iwasawafag, fixed in `favicons@4.7.5`.

[2016-08-15 10:58] #127 closed

[2016-08-16 09:47] yoanmalie commented on #138
Hello,

Perhaps i was not clear enough, here some infos:
- node v4.2.6
- npm v3.5.2
- gulp (cli and locale) v3.9.1
- gulp-favicons v2.2.6

Running on Ubuntu 16.04 64bit

Why i can't create a .php file instead .html ?
If you need others information, tell me which one.

Thank

[2016-08-16 15:32] troxler commented on #30
@haydenbleasel Has this changed in the meantime? The configuration example states that `source` can be an "array of `{ size: filepath }`". But how exactly would be the notation of that?

[2016-08-20 16:22] ssugiyama opened #147 ""Error: w and h must be numbers" on v4.7.8"
Hello!
I use favicons via favicons-webpack-plugin.  After updating to v4.7.8,  the following error occurred.

v4.7.7 is ok.

<pre>
./node_modules/.bin/webpack -p
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: w and h must be numbers
    at Jimp.throwError (/var/www/node_modules/jimp/index.js:82:43)
    at Jimp.contain (/var/www/node_modules/jimp/index.js:1751:27)
    at O

[2016-08-21 07:01] dangreen commented on #147
@ssugiyama can you show your config ?

[2016-08-21 10:25] dangreen commented on #147
@haydenbleasel you forgot compile index.js to es5.js

[2016-08-21 10:28] dangreen commented on #147
@haydenbleasel you can add gulp execution in package.json:
[code]

[2016-08-22 06:08] CapitalCloud commented on #147
var favicons = require('favicons/es5'); to var favicons = require('favicons');

this error was gone!

anything help?

[2016-08-22 15:39] haydenbleasel commented on #147
Alright I'll cover this fix. One sec.

[2016-08-22 15:46] haydenbleasel commented on #147
Alright published `favicons@4.8.1`. See if this has fixed the issue for you :)

[2016-08-23 06:03] ssugiyama commented on #147
Works fine! Thank you so much!

[2016-08-23 06:03] #147 closed

[2016-08-26 13:43] ArmorDarks commented on #58
How about ability to provide in addition to base rarster image prepared manually `svg`?

Personally I didn't like idea of vectorization based on raster anyway... To many rough edges.

[2016-08-26 13:48] ArmorDarks commented on #132
You shouldn't write directly into html. Instead, use `cheerio` or anything other you like to append generated content.

[2016-08-26 13:58] dangreen commented on #58
@ArmorDarks ["Partial offline SVG support"](https://github.com/haydenbleasel/favicons/pull/148) ?

[2016-08-26 18:26] ArmorDarks commented on #58
@dangreen Thanks for pointing out, didn't see that :)

[2016-09-08 04:21] imagitama opened #151 "Define separate path for manifest and images"
If you want to dump all of the images in a sub-directory you also have to dump the manifest files too which sucks. Can we have an option to define a path for images and path for manifests?

[2016-09-09 02:31] haydenbleasel commented on #151
We could have. Would need a good use case and a PR though :)

[2016-09-12 12:07] alexdrans opened #152 "Unexpected token '='"
Hey,

Currently having an issue with ``favicons-webpack-plugin`` via  the ``favicons`` package.

Here's my error;

[code]

However, I can't see why it's happening, as ``helpers-es5.js:18`` is [this line](https://github.com/haydenbleasel/favicons/blob/master/helpers-es5.js#L18)

[code]

I can't build on Windows, or Heroku, but OS X seems to build fine.

[2016-09-12 12:11] haydenbleasel commented on #152
Hey @alexdrans, what version of Node are you running?

[2016-09-12 12:20] alexdrans commented on #152
v4.5.0

[2016-09-12 12:21] haydenbleasel commented on #152
If you're running the ES6 version (likely) then you should probably be jumping on Node 5 or 6+

[2016-09-12 12:23] alexdrans commented on #152
Thanks for the rapid reply. Let me check whether v6.5.0 fixes it!

[2016-09-12 12:40] alexdrans commented on #152
Yep, all working! 🎈 Thanks @haydenbleasel. Awesome module also.

[2016-09-12 12:40] haydenbleasel commented on #152
@alexdrans No worries homie 👍

[2016-09-12 12:40] #152 closed

[2016-09-12 20:25] crisu83 commented on #152
@haydenbleasel this is still an issue in projects that use e.g. favicons-webpack-plugin and cannot upgrade to Node 6.x. Don't you have any plans to support older versions of Node than 6?

[2016-09-12 20:45] kevva commented on #136
`0.10` is only maintained until October and `0.12` until December. I suggest upgrading to v4 or v6.

[2016-09-12 23:02] haydenbleasel commented on #152
@crisu83 If you read our docs, we compile an ES5 version of Favicons. All you need to change in Webpack Favicons is require('favicons') to require('favicons/es5').

However, Node 0.10 is only maintained until October and 0.12 until December. I suggest upgrading to v4 or v6.

[2016-09-13 05:34] crisu83 commented on #152
@haydenbeasel I did read your docs, but I encounted this issue on Node 4.x.

[2016-09-13 08:22] santo74 commented on #152
I'm using favicons in my Ember.js app via the ember-cli-favicon addon and am experiencing the same issue. Everything worked fine with Node v4.3.1 until my last commit from 2 days ago.
That commit didn't change anything regarding versions, it only contained some simple modifications in an ember template and some extra rules in a less stylesheet.

Switching to Node 6 is currently not an option. I es

[2016-09-13 08:28] santo74 commented on #152
FYI: ember-cli-favicons relies on broccoli-favicons, which in turn relies on the favicons library.
As you can see in the code, the broccoli-favicons library already uses the es5 version: [https://github.com/davewasmer/broccoli-favicon/blob/master/index.js](https://github.com/davewasmer/broccoli-favicon/blob/master/index.js)

[2016-09-13 21:41] jonathanq opened #153 "Further lock-down version of svg2png"
The author of svg2png released a new version (3.1.1) which requires Node 6+ (https://github.com/domenic/svg2png/issues/59).  Due to the way NPM is parsing the version restriction on favicons (svg2png ^3.0.1) - we are getting 3.1.1 pulled in and it is failing to install on Node 5 boxes.

Given that the Readme for favicons states it works on 4+.  Can you lock down the svg2png version further to prev

[2016-09-14 08:46] santo74 commented on #153
Maybe this is also the cause of [https://github.com/haydenbleasel/favicons/issues/152](https://github.com/haydenbleasel/favicons/issues/152) when not using Node 6+ (see last comments) ?

[2016-09-15 18:06] NetOperatorWibby commented on #61
Have you seen this? https://github.com/btmills/geopattern

[2016-09-17 04:37] jverghese commented on #153
This is breaking builds for me as well. Submitted pr https://github.com/haydenbleasel/favicons/pull/154 to fix this.

[2016-09-17 15:14] haydenbleasel commented on #153
Merged #154 and pushed to NPM.

[2016-09-19 11:35] santo74 commented on #152
Fixed by pull request [https://github.com/haydenbleasel/favicons/pull/154](https://github.com/haydenbleasel/favicons/pull/154)

[2016-09-19 18:18] jraoult opened #155 "Generated favicon.ico is malformed"
Following the discussion here: https://github.com/kevva/to-ico/issues/8, it appears the introduced `.ico` generation in #137 is not working properly. It seems like it is a problem with the images order in the `.ico` file.

I could reproduce in Chrome and Firefox.

[2016-09-19 22:34] jraoult commented on #155
@haydenbleasel I created a PR for a version upgrade of `to-ico`: https://github.com/haydenbleasel/favicons/pull/156

[2016-09-20 07:01] thenano opened #157 "enable specific configuration for apple-mobile-web-app-capable and mobile-web-app-capable"
I want to *not* have mobile-web-app-cabable and apple-mobile-web-app-capable meta tags while still having apple and android icons generated. Those meta tags produce other behaviours that I want to avoid, like using a different engine than safari and not displaying back buttons on iOS, etc.

[2016-09-22 03:07] haydenbleasel commented on #155
Merged 👍

[2016-09-22 03:07] #155 closed

[2016-09-24 15:13] haydenbleasel opened #158 "Fix memory allocation"
https://github.com/oliver-moran/jimp/issues/153#issuecomment-249080427

On a dirt cheap laptop sequential generation was only 2-3 seconds slower (~14 seconds instead of 16-17) and I would say it's probably caused by reading from fs. But memory usage was 70% lower. I'd say worth it. Keeping copy of the image in-memory and cloning it would definitely make things faster because decoding PNGs is expen

[2016-09-26 10:52] websanova opened #159 "No files being created?"
So I'm running this:

[code]

It runs with no errors, output, etc.

[code]

No results, where are the files?

[2016-09-26 11:41] haydenbleasel commented on #159
@websanova Need more information. Node version, gulp-favicons version, etc.

[2016-09-26 12:45] websanova commented on #159
node v5.7.0
gulp v3.9.1
gulp-favicons v2.2.6
gulp-util v3.0.7

[2016-10-04 12:53] stavarengo commented on #53
Weird thing, in my machine Ubuntu 15.10 with Node 6.6.0 e npm 3.10.3 it works when I use an SVG image.
But, at my server machine (in the cloud) it does not work. The server machine is a Ubuntu 14.04 with Node 6.6.0 and npm 3.10.3.

The only diff between these machines is the Ubuntu version.
You guys have any ideia why this happens?

[2016-10-12 15:14] pixelize opened #162 "Generated images are flipped"
Hi there,

I just saw some of my generated icons files are flipped but also has a line on the left side. My source file is a square image.

See example images :
- apple-touch-startup-image-1496x2048.png
  ![apple-touch-startup-image-1496x2048](https://cloud.githubusercontent.com/assets/2931627/19316179/b72d70e6-90a0-11e6-94a2-7b465c9c46bf.png)
- apple-touch-startup-image-1182x2208.png
  ![apple-to

[2016-10-16 16:03] onebrightlight commented on #162
Coming across this same issue with favicons 4.8.3 and node v4.5.0, as well.

[2016-10-17 07:53] pixelize commented on #162
Good to know im not the only one, I hope will get a fix asap :) @haydenbleasel

[2016-10-19 12:04] WuglyakBolgoink opened #163 "Bug or Feature? Chrome theme-color and transparent icons"
Hi,

is it possible to do a new property for `theme-color`. Because if we use "`background`"-property, it work fine until we change icon with transparent background. In this case we have bad icon 👎  and good look in chrome with theme-bar 👍

so,

`background`-property should be use only for icons
`themeColor`-property should be use only for theme-colors

Thank you!

[2016-10-25 22:55] natario1 commented on #163
I was about to open a similar issue, though not related to transparency.
Having a single options for color does not make sense in my opinion.

Say I have an icon which is primarily red.
A good background would then by #fff, because otherwise we will have a red-on-red icon.

On the other hand, if red is my brand color, we definitely want theme-color to be red.

[2016-10-25 23:10] natario1 commented on #162
Same here. All apple-touch icons that are rotated 90 degrees are also badly cropped.

I am using a square logo. Looks like the logo is laid out in the image (which is taller than wide), and then the whole image is rotated. The rotation should be applied on the logo only.

[2016-11-01 11:03] evilebottnawi commented on #163
@WuglyakBolgoink can you give example?

[2016-11-07 09:12] smesko85 commented on #117
@haydenbleasel is this pushed to npm?

[2016-11-07 09:23] haydenbleasel commented on #117
@smesko85 Published and did a version bump just in case. Try now.

[2016-11-07 09:46] smesko85 commented on #117
@haydenbleasel Wow, that was fast :) Thx. It is updated on npm :)

[2016-11-07 11:06] reinvanoyen commented on #159
Hello, I ran into a similar problem today. My gulp task, just stopped. I DID get an error, though:
`[TypeError: Buffer.alloc is not a function]`

`gulp-favicons` worked fine for other projects, with the exact same task and using the same versions:
node 5.6.0
gulp 3.9.1
gulp-favicons 2.2.7
gulp-util 3.0.7

I'm not sure if this has something to do with `gulp-favicons`, though.

I fixed it by updatin

[2016-11-14 23:49] mohsen1 opened #166 "Allow additional properties in manifest.json"
The `manifest.json` is used for a lot of things and it's hard to add new properties for each new item vendors add to it.

Right now we need `gcm_sender_id`, `related_applications` and `prefer_related_applications` fields in our `manifest.json`.

It would be nice if there was an option for adding new properties to `manifest.json`. It can use `Object.assign` or a deep extend to add those properties.

[2016-11-18 11:30] evilebottnawi commented on #163
@WuglyakBolgoink @natario1 two different options, I often use the logo in one color for the `background` but using a completely different `themeColor`, the option should be retained, it is possible to add processing if not passed `themeColor` that take the value of the `background`. I can do PR.

/cc haydenbleasel

[2016-11-18 11:33] evilebottnawi commented on #166
@mohsen1 Why don't use `response` and add properties that you need?

[2016-11-18 11:34] evilebottnawi commented on #163
/cc @haydenbleasel

[2016-11-18 12:23] natario1 commented on #163
@evilebottnawi I think two different options, with `themeColor` falling back to `background` (and `background` falling back to `themeColor`) would be the best thing.

Since you were asking for examples, think about [this logo](https://lh3.googleusercontent.com/-IMGb4CkWC98/VeXR6rWlM1I/AAAAAAABeIM/hrmjeZozQ5EoZq3l76704Fzbi87a7U-ugCJoC/s506/GooglePlus-logos-02.png). It has transparency outside the c

[2016-11-18 12:28] evilebottnawi commented on #163
@natario1

Agree. You can do PR :smile:

Can you do PR?

[2016-11-20 15:19] natario1 commented on #163
@evilebottnawi no man, I fear this is above my skills. Sorry

[2016-11-20 22:36] adjohnson916 opened #167 "Option to modify URLs for generated HTML"
It might be nice if there were an option accepting a function to modify URLs for the generated HTML. This would enable, among other things, appending cache busting query parameters per #80. It could also allow changing paths with some logic, e.g. sorting files by pointing images to a subdirectory while keeping files like `manifest.json` at the root of the site.

[2016-11-30 16:01] mehrdaad commented on #163
@evilebottnawi how about creating a PR, which deletes ``theme-color`` from generated html.
Since the responsibility of this lib is to generate favicons not changing theme colors?

[2016-11-30 18:46] evilebottnawi commented on #163
@mehrdaad I'd love to have improved this package, but the creator of the repository where it disappeared and did not respond to mention, maybe we should think about creating an organization and finding contributors for this package (need minimum two). I can start this if found people. Mention me if somebody wants to do.

[2016-12-01 09:10] mehrdaad commented on #163
@haydenbleasel we've got a bug here, and apparently no one of the core contributors have noticed it.
Can you lighten this up?

[2016-12-07 12:42] WuglyakBolgoink commented on #163
any updates?

[2016-12-07 12:48] evilebottnawi commented on #163
@WuglyakBolgoink https://github.com/haydenbleasel/favicons/issues/163#issuecomment-263958513

[2016-12-15 13:46] v3nt opened #168 "can't write html to php file?"
When is pacify a html file its fine but in a php file it creates

[code]

[code]
thanks!

[2017-01-07 12:52] budarin commented on #151
manifest should be included in HEAD when using HtmlWebpackPlugin

[2017-01-13 23:16] yoanmalie commented on #168
Yeah, look like same as my report here #138

Can you specify which versions you use to help developers ?

[2017-01-15 23:35] #153 closed

[2017-03-08 20:00] obliviga opened #171 "Cannot find module 'gulp-favicons'"
I followed the gulp example, and have node v7.7.1, but still getting `Cannot find module 'gulp-favicons'`. Please see http://stackoverflow.com/questions/42680056/cannot-find-module-gulp-favicons/42680248?noredirect=1#42680248 for greater details.

[2017-03-09 15:35] obliviga commented on #171
Turns out I had to resolve my dependencies using Yarn.

[2017-03-09 15:35] #171 closed

[2017-03-13 18:00] el1f opened #172 "Missing metatags for some of the generated favicons"
Hello everyone,
I noticed that when the component generates the metatags for the favicons it misses the 96x96 and 230x230 metas. Is it supposed to work like this or is something missing during the generation?
I have some thin favicons that look terrible on large screen since they use the 32x32 version instead of the higher resolution options which really baffles me since they are actually generate

[2017-03-25 11:53] #172 closed

[2017-04-07 09:23] jjborg commented on #157
@thenano I had a similar request and found a solution.

You can access the Favicons configuration and change the defaults. In your case you can set the web-app capability to 'no', or delete the entire meta tag entirely. Now it just opens a tab in Safari from your homescreen.

[code]

[2017-04-10 21:29] ryanhomer opened #173 "White background for apple- prefixed icons"
I have a transparent PNG that I'm using to generate all my icons. All the `apple-touch` prefixed icons that are generated have a white background. Why is this? Is this following some Apple guideline? I'm mostly interested in generating these icons for Safari. Is there a way to preserve the transparency for these icons? Thanks in advance.

[2017-04-12 09:34] Muskos opened #174 "killed when run task in gulp"
Hi.
I have some problem.
When i run gulp task on local serve - everything allright.
When i try to run task on production i get error https://yadi.sk/i/xty-VN1s3Gtf5L (left side production).
How can i debug this error?

[2017-04-12 09:35] Muskos commented on #174
`gulp.task("****_favicon", function () {
    return gulp.src("***/img/favicon/favicon.png").pipe(favicons({
        appName: "****",
        appDescription: "****",
        developerName: "****.ru",
        developerURL: "//***.local.ru/****",
        background: "#fff",
        lang: "ru-RU",
        path: "/dist/***/favicon/",
        url: "https://***/***",
        display: "standalone",

[2017-04-12 09:36] dangreen commented on #174
@Muskos I think your production server have RAM usage limitations.

[2017-04-12 11:05] Muskos commented on #174
@dangreen yes allright thx

[2017-04-12 11:05] #174 closed

[2017-04-17 13:22] qiu8310 opened #175 "something is wrong with the version 4.8.3 in npm"
In the npm package https://registry.npmjs.org/favicons/-/favicons-4.8.3.tgz

the config/html.json file is:
[code]

while in [this repo's master branch](https://github.com/haydenbleasel/favicons/blob/master/config/html.json#L37-L41):
thers is no `android-chrome-192x192` line

This will result in generating a wrong html file, can you release a new version and fix this problem?

[2017-04-22 16:41] websanova commented on #159
Thought I would come back to this after a few months to see if there are any updates. Now I'm on node v6.9.4. Still nodda. No errors, no files, no nothing.

[code]

Is there anyway to debug this?

[2017-04-26 15:52] strarsis commented on #53
@haydenbleasel: JavaScript SVG solution: https://github.com/canvg/canvg

[2017-04-26 15:55] strarsis commented on #99
@haydenbleasel: Any plans adding this feature in near future? Would this also be added to realfavicongenerator website (which seems to be closely related to this project)?

[2017-04-28 07:17] thewilkybarkid opened #177 "svg2png called multiple times"
Having an SVG source image causes svg2png to be used for each output, but it only needs to be called once. It's currently being used without concurrency limits too, leading to high memory usage.

[2017-04-28 07:31] dangreen commented on #177
@thewilkybarkid svg2png is used for each output to provide a better quality of the resulting png images.

[2017-05-15 20:59] thasmo commented on #140
Would love to see a more streamlined default output and a more flexible configuration to define desired icon sizes for the different icon types.

[2017-05-17 12:00] haydenbleasel opened #180 "Looking for a new owner of this project"
@jantimon @evilebottnawi @dangreen maybe you guys would be interested?

[2017-05-17 12:05] haydenbleasel commented on #180
@jessehattabaugh @chaffeqa @jessaustin @tlvince @brianberlin

[2017-05-17 12:12] dangreen commented on #180
@haydenbleasel If no one wonts, then I can.

[2017-05-17 12:27] dangreen commented on #130
@Sizuko `favicons` tool generates icons for web, I think You desired question is about native iOS apps.

As tool for web, `favicons` should support *all* devices

- With/Without retina
- New/Old iOS versions

In following links you can see what icons are generated for which iOS devices.

- https://gist.github.com/tfausak/2222823
- http://taylor.fausak.me/2012/03/27/ios-web-app-icons-and-startup-im

[2017-05-17 12:28] evilebottnawi commented on #180
@haydenbleasel i can

[2017-05-17 14:19] chaffeqa commented on #180
You could make a new org, and give users ownership

[2017-05-18 05:52] haydenbleasel commented on #180
@evilebottnawi I can transfer it to you but you need to delete your fork first.

[2017-05-18 09:33] evilebottnawi commented on #180
@haydenbleasel doing

[2017-05-18 09:35] haydenbleasel commented on #180
@evilebottnawi Great, you should get an email now.

[2017-05-18 09:42] evilebottnawi commented on #180
@haydenbleasel thanks! done :+1: In near future i will try to close the main problems that have accumulated.

Please ping me if someone can help me with this.

[2017-05-18 09:44] dangreen commented on #180
@evilebottnawi I will gladly help 😃

[2017-05-18 09:46] evilebottnawi commented on #180
@dangreen invite has been sent

[2017-05-18 09:54] dangreen commented on #173
@ryanhomer `apple-touch` icons are used when you add site/webapp to homescreen. Icons for iOS must have a background.
https://developer.apple.com/ios/human-interface-guidelines/graphics/app-icon/

[2017-05-18 10:02] dangreen commented on #162
fixed in #178

[2017-05-18 10:02] #162 closed

[2017-05-22 02:10] haydenbleasel commented on #180
Hey @evilebottnawi you'll need an NPM account so I can tranfer you admin privileges to publish

[2017-05-22 10:58] evilebottnawi commented on #180
@haydenbleasel https://www.npmjs.com/~evilebottnawi

[2017-05-22 13:06] haydenbleasel commented on #180
Great, all done!

[2017-05-22 13:06] #180 closed

[2017-05-23 15:12] evilebottnawi commented on #168
Close duplicate https://github.com/evilebottnawi/favicons/issues/138

[2017-05-23 15:12] #168 closed

[2017-05-27 03:06] #173 closed

[2017-06-14 09:33] pixelize commented on #162
Thanks @dangreen

[2017-06-19 21:57] jeffreywescott commented on #103
I'm using version `4.8.6` and still seeing this. I'm not using Gulp -- just using the code in my own app directly.

[2017-06-19 21:58] jeffreywescott commented on #103
To reproduce, just pass a URL in the `path` option, like this: 'http://example.com'.

[2017-06-19 22:01] jeffreywescott commented on #103
Workaround is to use a base URL like this: 'http:\\\\example.com' -- stupid ugly and confusing, but works.

[2017-06-20 18:42] alaz opened #182 "Double slashes in URLs get swallowed"
I am specifying a CDN server in `path` option, e.g.

[code]

The problem is that the resulting HTML file contains malformed URLs like in the following fragment:

[code]

[2017-06-20 19:14] alaz commented on #182
Ah, I found #116. Mine version of "favicons" is 2.2.7:

[code]

[2017-06-29 12:17] mklenk commented on #159
I had the same problem when calling the default gulp task, which in turn called my generate-favicon task. Like this:
`gulp.task('default', ['cleanup', 'fonts', 'css', 'js', 'img', 'generate-favicon']);`

Running it like this throws no errors and generates no files. The task is also done in something like 90ms so I think the task isn't actually doing anything.

But when I call my generate-favicon d

[2017-07-02 15:57] RobinWest commented on #151
Somewhat related, but if you specify a `path` option (such as `favicons/`) the link for the manifest gets created pointing to `favicons/manifest.json`. The manifest itself also uses the path though, so we get `"src": "favicons/android-chrome-36x36.png"` for each of the images.

That means the actual path the manifest is pointing to ends up being `favicons/favicons/*.png`. Maybe I'm missing somethi

[2017-07-19 05:07] levibuzolic commented on #182
Hit this bug too, cause is here:

https://github.com/evilebottnawi/favicons/blob/4f6e8bd19115c2b0067e28f9df349905aea2d814/helpers.js#L45

Should maybe consider not using `path.join()` as it's not appropriate for joining web URLs -- `path.join` is designed to overcome inconsistencies in directory separators in OSs. I'll see if I can put up a PR.

[2017-07-30 07:04] milewski opened #183 "Missing Firefox manifest.webapp in the output HTML"
Using these settings, result in a html without the manifest.webapp, however the `response.files` contains the `manifest.webapp`..

[code]
[code]

[2017-08-09 08:32] daGrevis opened #185 "More control over which favicons are generated"
At the moment, I can enable favicons via `{ icons: { favicons: true }}`. What I'd like to do is disable 16x16 size favicon generation.

[2017-08-10 08:43] jantimon opened #186 "Refactor Api to be upto date"
Hey @evilebottnawi

we are right now refactoring the [webpack-favicons-plugin](https://github.com/jantimon/favicons-webpack-plugin) which is a heavy user of your plugin (~40.000 downloads per month)

@milewski is now thinking about forking / rewriting your favicons plugin because he believes that we can't implement the requirements for modern progressive webapps without a lot of wrapping code:

ht

[2017-08-10 10:05] evilebottnawi commented on #186
@jantimon It's great, now I do not have time to help :disappointed: But I add your to the contributor and PR welcome.

[2017-08-10 11:51] jantimon commented on #186
Okay can understand that - thanks I'll talk to @milewski 👍

[2017-08-23 05:50] GheloAce opened #187 "RFG now only uses https"
I just noticed that the URL `http://realfavicongenerator.net/api/favicon` now redirects to `https`. Hence, whenever i try to run my gulp script i get, as an error:

[code]

Looking at the response, it returned the status code 301.  Changing [line 467](https://github.com/evilebottnawi/favicons/blob/4f6e8bd19115c2b0067e28f9df349905aea2d814/helpers-es5.js#L467) http to https make everything work.

I'

[2017-08-24 11:40] tomyam1 commented on #187
Here is a monkey patching script to fix the URL for now.
Add this before the require of favicons
[code]

[2017-09-01 20:36] nealoke commented on #131
+1 @haydenbleasel I would totally love that this would be possible :)

[2017-10-03 15:40] igneus commented on #159
I encountered exactly the same behaviour today. Then I realized that the path specified as argument for `.src()` was wrong. Once I fixed it, the task ran successfully, with rich output (as requested in the options), and produced the expected files. Looks like it fails silently on invalid input.

[2017-10-04 19:43] igneus commented on #159
Is code of the gulp wrapper available somewhere? I thought I would try to dig into this issue, but I can't find it.

[2017-11-12 17:20] joshporter1 commented on #157
This is something that should be an option in the module, without having to write that workaround, correct?

I feel that adding in these mobile metatags that aren't related to the actual favicons should be optional, specifically ones like `apple-mobile-web-app-capable` and `apple-mobile-web-app-status-bar-style`.

[2017-12-14 09:28] davidhellmann commented on #182
Hm any news here? Have the same problem :/

[2017-12-27 22:28] craigpryde opened #192 "file.isSymbolic Issue with vinyl on Gulp 4"
Hi @evilebottnawi,

Unsure where to post this so thought I would drop this here.

Gulp4 Alpha 3 was released recently and has resulted in a lot of NPM packages breaking due to using an out of date vinyl version compared to the one handled by Gulp 4. As detailed here:
https://github.com/gulpjs/gulp/issues/2065

The simple fix seems to be to update the vinyl version used within favicons to use the l

[2017-12-28 09:42] evilebottnawi commented on #192
@craigpryde PR welcome :+1:

[2018-01-08 07:44] chrbala opened #195 "Accept an array of file buffers as source"
Currently the source can be a string, buffer, or Array<string. This adds support for Array as well.

I submitted a [PR](https://github.com/evilebottnawi/favicons/pull/194) last week, and I'm adding this issue for visibility.

[2018-02-09 17:02] fenwick67 opened #196 ""no external dependencies" and "pure javascript" aren't correct"
`svg2png` uses `phantomjs-prebuilt` for its rendering, so this isn't exactly true.  Would you please change the readme to reflect this?

[2018-02-23 15:28] damianobarbati opened #197 "promise (async/await) support [feature request]"
Can favicons() method return a promise if no callback is passed?

[2018-02-24 20:04] WuglyakBolgoink opened #198 "Require an apple touch icon"
# Why is this important? (see https://sonarwhal.com/docs/user-guide/rules/rule-apple-touch-icons/)

Safari for iOS supports since `iOS 1.1.3` a way for developers to specify the image (known as `touch icon`) that will be used when the user adds the web site/app to the homescreen.

Nowadays there is a better and standard way of specifying images that browsers can use using the `web app manifest fil

[2018-03-07 18:30] evilebottnawi opened #199 ":star: Contributors welcome :star:"
Leave your applications here :+1:

[2018-03-10 10:06] sydev opened #200 "Error: write EPIPE"
I use the gulp wrapper `gulp-favicons` to automatically build my favicons. Locally on my MacBook everything works well, but when my build process is running on my server, the following error occurs:

[code]

My config:

[code]

I got no clue, can someone help?

OS: Ubuntu 16.04
Node: 9.8.0
npm: 5.7.1

[2018-03-15 20:48] brunocodutra commented on #199
I can help out! As the maintainer of [webapp-webpack-plugin](https://github.com/brunocodutra/webapp-webpack-plugin) I'm particularly interested in developing favicons further.

[2018-03-15 21:09] brunocodutra opened #201 "Query browserslist and caniuse for browser support"
I've been fiddling with the idea of querying [browserlist](https://www.npmjs.com/package/browserslist) and [caniuse-api](https://www.npmjs.com/package/caniuse-api) to automatically disable polyfilling browsers that already support the webapp manifest. That's something I really need for [webapp-webpack-plugin](https://github.com/brunocodutra/webapp-webpack-plugin) and it would be great if favicons

[2018-03-15 21:11] brunocodutra opened #202 "Always generate manifest.json?"
Now that browsers other than chrome are [picking up on support for `manifest.json`](https://caniuse.com/#feat=web-app-manifest) does it make sense to have it always generated?

[2018-03-16 10:06] evilebottnawi commented on #199
@brunocodutra i send invite, feel free to PR, just add me as review, any improvements and changes and fixes :+1:

[2018-03-16 20:35] brunocodutra commented on #199
Cool thanks! I'll start by picking some low hanging fruits from the backlog.

Meanwhile, do you have any thoughts on #201 and #202?

[2018-03-19 09:07] evilebottnawi commented on #202
@brunocodutra better add option (by default in true) :+1:

[2018-03-19 09:08] evilebottnawi commented on #201
@brunocodutra :+1: it will be great feature, we should create package with zero configuration, it is allow people just run and get favicons what they really need

[2018-03-24 00:12] musaffa commented on #202
I had to remove this package once I realized that it is also generating `manifest.json` and there is no way to disable it. I'm using another package for manifest management. I wish this package solely focused on favicons.

[2018-03-24 10:58] evilebottnawi commented on #202
@musaffa we will have option for disable this :+1:

[2018-03-29 11:37] evilebottnawi opened #205 "Todo/Refactor"
1. Migrate on `prettier` to avoid difference code style.
2. Enable recommitted `eslint` rules avoid stylistics rules.
3. Upgrade https://github.com/evilebottnawi/favicons/tree/gh-pages and release on pages.
4. Run test on windows using appveyor.
5. Implement promise for generate.
6. Migrate from gulp to jest for testing.
7. ES6 refactor.

Wait feedback :+1:

//cc @brunocodutra

[2018-03-29 11:41] brunocodutra commented on #205
I'd recommend ava instead of jest.

I tried both in [brunocodutra/webapp-webpack-plugin](https://github.com/brunocodutra/webapp-webpack-plugin) and for some reason ava is several times faster than jest.

[2018-03-29 11:43] brunocodutra commented on #205
I volunteer to improve the testing framework using ava if you agree this is the way to go

[2018-03-29 11:46] evilebottnawi commented on #205
@brunocodutra ava fix `snapshot` testing? it will be great for snapshot image testing to avoid generate broken images?

[2018-03-29 11:49] brunocodutra commented on #205
@evilebottnawi yes it does snapshot testing much like jest

see https://github.com/avajs/ava#snapshot-testing

I'll start working something out and create a PR for us to better evaluate it

[2018-03-29 11:50] evilebottnawi commented on #205
@brunocodutra great :+1:

[2018-03-30 10:00] brunocodutra commented on #205
@evilebottnawi regarding the ES6 refactor I was thinking, what about dropping support for node 4, which is [reaching EOL this April](https://github.com/nodejs/Release), and sticking to node > 6 so that we may reasonably get rid of gulp and babel altogether?

[2018-03-30 10:02] evilebottnawi commented on #205
@brunocodutra bit early, right now not april :smile:

[2018-03-30 10:10] brunocodutra commented on #205
Transpiling is not that big of a hassle, it's just that @jantimon convinced me it makes it harder for users that face issues to contribute fixes or even open better issue reports.

Either way we can decide about dropping node < 6 independently from the ES6 refactor.

[2018-03-30 12:02] brunocodutra commented on #197
yes, planed in #205

[2018-03-30 13:51] evilebottnawi commented on #205
@brunocodutra also i think we should use `webpack` or `rollup` for browser usage :+1:

[2018-03-30 13:53] brunocodutra commented on #205
@evilebottnawi sounds reasonable to me

[2018-03-30 14:48] evilebottnawi commented on #205
@brunocodutra what do you think about buy domain `favicons.xyz` for future gh-pages, `favicons.io` better but very expensive :disappointed:

[2018-03-30 14:54] brunocodutra commented on #205
@evilebottnawi to be honest I think gh-pages are fine

[2018-03-30 14:54] evilebottnawi commented on #205
@brunocodutra we will use gh-pages, github allow to add own domain on gh-pages

[2018-03-30 15:00] brunocodutra commented on #205
@evilebottnawi I know, I mean the github domain is fine, is there such a demand for the website to justify owning a domain?

BTW, how about adding a link to it to the project description?

[2018-03-30 15:01] evilebottnawi commented on #205
@brunocodutra :+1:

[2018-03-30 15:08] evilebottnawi commented on #187
We drop support RFG in new major version.

[2018-03-30 15:08] #187 closed

[2018-03-30 16:02] brunocodutra commented on #186
@milewski you seem to have a very good understanding of the current state of PWAs, could you summarize what exactly needs to be done on our side?

[2018-03-30 20:45] #197 closed

[2018-03-31 17:32] #182 closed

[2018-04-06 18:34] #158 closed

[2018-04-06 18:36] brunocodutra commented on #195
Fixed in #212

[2018-04-06 18:36] #195 closed

[2018-04-06 18:45] brunocodutra commented on #177
I don't think rendering SVG was the culprit after all, because despite the fact `svg2png` is still executed for every icon generated generating all icons out of a SVG image takes roughly 5 seconds and loads about 120 MB of memory on my machine, while the figures for a similar looking PNG image are 16 seconds and 480 MB of memory.

[2018-04-06 18:45] #177 closed

[2018-04-06 18:46] #175 closed

[2018-04-06 20:02] brunocodutra commented on #132
This is not relevant anymore on master, since writing to file is out of scope

[2018-04-06 20:02] #132 closed

[2018-04-06 20:04] brunocodutra commented on #136
It's been 18 months and even node 4 is about to reach EOL.

[2018-04-06 20:04] #136 closed

[2018-04-06 20:06] brunocodutra commented on #159
@igneus the stream API is implemented here https://github.com/evilebottnawi/favicons/blob/master/src/index.js#L134

[2018-04-13 13:45] disjfa opened #217 "Check the icons generated in the manifest."
If i check a site using the data from this bundle and check the data in the https://www.pwabuilder.com they "suggest" some missing icons for ios and microsoft:

I that would be ok we can update the json files.

Btw, awesome that there is some action again in this repo!

[2018-04-19 19:25] evilebottnawi commented on #200
@sydev please update to latest version, feel free to recreate/reopen issue if still regression. Thanks!

[2018-04-19 19:25] #200 closed

[2018-04-19 19:26] evilebottnawi commented on #217
/cc @brunocodutra

[2018-04-19 19:29] brunocodutra commented on #217
Sounds great, would you volunteer for a PR @disjfa?

[2018-04-22 19:45] whitecolor commented on #157
@evilebottnawi not possible yet?

[2018-04-23 09:48] evilebottnawi commented on #157
/cc @brunocodutra

[2018-05-05 10:36] Hypnosphi commented on #53
@strarsis you would need [node-canvas](https://github.com/Automattic/node-canvas) for that, which uses native package cairo

[2018-05-05 10:43] Hypnosphi commented on #53
What about [sharp](https://github.com/lovell/sharp)?

[2018-05-08 16:06] evilebottnawi commented on #205
@brunocodutra intresting, need investigate.

I near future i want move `favicons` to https://github.com/itgalaxy/, leaving you access to the repository.
No important PR is expected in the near future?

[2018-05-08 19:50] brunocodutra commented on #205
@evilebottnawi go ahead, I don't have anything right now

[2018-05-17 08:42] jesperlehtinen opened #219 "No option for short_name"
There's no config option for `short_name` in manifest.json. Currently it takes the application name, which might be too long (recommended max. length for `short_name` is 12 chars, according to https://developer.chrome.com/apps/manifest/name#short_name).

[2018-06-04 11:06] ozasadnyy commented on #166
@evilebottnawi could you add some example how to do that? But in my opinion, it would be easier just to pass custom properties via settings.

[2018-06-06 16:51] patrickberkeley opened #221 "Plans to remove PhantomJS dependency"
This package relies on svg2png. svg2png uses PhantomJS which [has been sunsetted](https://github.com/ariya/phantomjs/issues/15344).

Are there any plans to remove the svg2png/PhantomJS dependency from this package?

[2018-06-09 14:28] evilebottnawi commented on #205
/cc @brunocodutra why we use `@babel/polyfill` as deps?

[2018-06-09 15:41] evilebottnawi commented on #196
Close in favor https://github.com/itgalaxy/favicons/issues/221.

[2018-06-09 15:41] #196 closed

[2018-06-09 17:37] evilebottnawi commented on #205
@brunocodutra i think we should drop node@4 :+1:

[2018-06-22 13:40] adipascu opened #225 "Missing dependency (core-js)"
The `dist/index.js` file requires `core-js` but `core-js` is not a dependency in `package.json`

I see there was an attempt to fix this in #216 .

[2018-06-22 13:42] evilebottnawi commented on #225
@adipascu Feel free to PR

[2018-06-27 20:54] fabe opened #227 "Option to disable injection of HTML"
Is there a way to disable the injection of the HTML? I'd like to use `favicons` only for the creation of the files. Would you accept a PR for this? Thanks!

[2018-06-28 09:07] evilebottnawi commented on #227
@fabe feel free to PR

[2018-06-28 20:05] fabe commented on #227
Seems like I mistakenly thought that the HTML is injected when this log comes up:

[code]

Nothing is actually injected 👍

[2018-06-28 20:05] #227 closed

[2018-07-05 15:00] GuillaumeAmat commented on #140
Hi there 👋

Is someone working on that issue?

[2018-07-05 15:01] evilebottnawi commented on #140
@GuillaumeAmat no, PR welcome

[2018-07-26 21:14] brunocodutra opened #230 "apple-mobile-web-app-status-bar-style is always set to black-translucent"
The initial value of the meta property [`applt-mobile-web-app-status-bar-style` is `black_translucent`](https://github.com/itgalaxy/favicons/blob/master/src/config/html.json#L19), however it probably should be set to `theme_color` around [this line](https://github.com/itgalaxy/favicons/blob/master/src/helpers.js#L132).

[2018-07-27 07:13] dangreen commented on #230
You can't set any color by this tag. Read the docs.
https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html#//apple_ref/doc/uid/TP40008193-SW2

[2018-07-29 07:50] uwolfer commented on #230
Implemented, see PR  #231.

[2018-07-29 14:33] #230 closed

[2018-08-22 12:59] colbyfayock commented on #126
hey @haydenbleasel - are you all able to support this now? or is the SVG support provided not necessarily what's needed for this feature?

[2018-08-26 04:59] Exelord opened #234 "Wrong order of icons"
Because of the wrong order of icons chrome is loading every icon until it met his expectations in every navigation change.
<img width="703" alt="screen shot 2018-08-25 at 21 55 31" src="https://user-images.githubusercontent.com/1469375/44624963-c144f600-a8b1-11e8-8f9f-48313744f229.png">

HTML:
<img width="578" alt="screen shot 2018-08-25 at 21 57 07" src="https://user-images.githubusercontent.com/

[2018-08-29 12:18] mahnunchik commented on #61
@haydenbleasel any news?

[2018-09-01 07:10] uwolfer commented on #234
Fix has been merged (#235). Issue can be closed.

@Exelord: Thanks for the detailed issue description.

[2018-09-02 00:41] Exelord commented on #234
Thank you! Great job! :)

[2018-09-02 00:41] #234 closed

[2018-09-02 00:43] Exelord commented on #234
Could you release that in version?

[2018-09-02 04:43] Exelord opened #238 "Allow to generate HTML without generating files"
It would be nice to have an option to generate HTML output based on passed options without generating favicons files.

Expected API:
[code]

As those tasks are totally independent it would be nice to have a separate access to get the ability to better manipulate the data and write better integrations.

[2018-09-11 14:59] firestar300 opened #239 "Unable to generate multiple favicons from multiple source files"
favicons version used : **5.1.1**

Hello there,
I found this PR : https://github.com/itgalaxy/favicons/pull/98

Actually, I would like to generate favicons from multiple source files. In my src folder, I have theses source files :
[code]

And I expected to generate favicons from tsg-favicon.png to the path `./dist/assets/img/favicons/tsg` and favicons from tsh-favicon.png to `./dist/assets/img/fav

[2018-09-13 09:36] svalyi opened #240 "missing scope"
Scope is missing in manifest. This can cause issues as a url header bar in PWA on Ios

[2018-09-13 09:40] evilebottnawi commented on #240
@svalyi Can you provide example what missing?

[2018-09-13 09:41] svalyi commented on #240
https://developers.google.com/web/fundamentals/web-app-manifest/

default should be:` "scope": "/",`

[2018-09-13 09:56] evilebottnawi commented on #240
@svalyi PR welcome

[2018-09-14 05:45] jantimon commented on #201
Maybe you could even release it as an independent package

[2018-09-14 09:41] evilebottnawi commented on #201
@jantimon maybe :+1: Anyway PR welcome

[2018-09-15 09:45] brunocodutra commented on #240
Closes by #241

[2018-09-15 09:46] #225 closed

[2018-10-03 14:38] #217 closed

[2018-10-05 23:17] lovell commented on #221
Hello, I've had a (very) quick look at whether sharp/libvips/librsvg might be suitable to replace PhantomJS in the context of SVG rendering in this module.

At the moment the tests rely on snapshots that require pixel values to be an exact match.

Switching to a testing approach that verifies based on image similarity, with a suitable threshold, could help not only with a migration away from Phant

[2018-10-08 16:14] ahansson89 opened #243 "Startup image not working for some devices"
When using this plugin to generate Apple startup images it seems like they are not the right dimensions so they are not picked up.

They seem to work on iPhone 6s but not on iPhone X, iPhone XS and iPad Pro's.

There is an article that describes the dimensions here: https://medium.com/appscope/designing-native-like-progressive-web-apps-for-ios-1b3cdda1d0e8

[2018-10-17 06:46] WuglyakBolgoink opened #244 "theme-color is always empty"
My config:
[code]

[code]

Output:
[code]

Missed something?

[2018-10-19 14:38] WuglyakBolgoink commented on #244
So... whaaaat is this?....

in my config I did some changes like this:
[code]

and in output we have now same values for background:

[code]

[2018-10-20 19:40] tommytomatoe commented on #219
I submitted a pull request for this.

[2018-11-01 07:57] jameswilddev opened #246 "Dependencies on favicons in an ES3 TypeScript project will cause build failures"
favicons has a dependency on cheerio 1.0.0-rc.2, which itself has a dependency on parse5 3.0.3, which itself has a dependency on types/node.  The result of this is that installing favicons installs types/node, which means that the TypeScript compiler uses those types when compiling, even if the target is ES3, causing compile errors ([similar to this issue](https://github.com/DefinitelyTyped/Defini

[2018-11-01 08:10] jameswilddev commented on #246
Just looking at why I couldn't get the tests to pass; every test hitting that section of code seems to handle a value from src/config/html.json, such as:

[code]

The selector is:

[code]

My interpretation of this [based on the documentation](https://github.com/cheeriojs/cheerio#-selector-context-root-) is "the first element of any sort inside the head element".

This doesn't quite seem to match

[2018-11-01 09:47] evilebottnawi commented on #246
@jameswilddev It is not high priority feel free to send a Pr with fix

[2018-11-01 09:48] evilebottnawi commented on #219
Done in master, will release in nexr future, feel free to ping pe

[2018-11-01 09:48] #219 closed

[2018-11-12 12:10] jeremejevs opened #248 "rel="manifest" and cookies"
[As per spec](https://github.com/w3c/manifest/issues/186#issuecomment-43939505), cookies aren't being sent with `rel="manifest"` requests. Currently, the only remedy is to add `crossOrigin="use-credentials"` to the `link` tag. I'm able to do that using this snippet:

[code]

But this is a dirty hack and will inevitably break in the future. Would you mind having a public option for this? E.g. `load

[2018-11-12 13:20] jeremejevs commented on #248
@evilebottnawi Done: #249

[2018-11-14 20:17] #248 closed

[2018-11-21 15:58] boba-keyost commented on #151
I tried to fix that issue with paths in this pull request #251

[2018-11-26 09:35] nowox commented on #159
I have the exact same problem. I just `npm install `--save-dev favicons`, then wrote this script:

[code]

I then tried it with:

[code]

But no files are generated.

[code]

[2018-11-26 19:48] brunocodutra commented on #159
Actually `response.images` and `response.files` _are_ the files you're looking for, if you need to save them to disk, you may use [node `fs`](https://nodejs.org/api/fs.html#fs_fs_writefile_file_data_options_callback) for example.

[2018-12-20 17:52] whitecolor opened #253 "Gray border with transparent png: from 5.2.0"
I have original image:
![circle](https://user-images.githubusercontent.com/736697/50301673-c99cee80-04a9-11e9-979e-72e02e2d93a3.png)

From 5.2.0 the result image has gray border:
![android-chrome-144x144](https://user-images.githubusercontent.com/736697/50301692-d28dc000-04a9-11e9-8ac0-55dc181414dd.png)

In early version there is no border.

There also was an issue before:
https://github.com/itgal

[2018-12-20 17:59] evilebottnawi commented on #253
@whitecolor feel free to send a PR with fix

[2019-01-01 16:07] whitecolor commented on #253
Well, should be some stuff related to picture generation? Maybe `svg2png`? Need to see what changed between favicons 5.1.1 and 5.2.0.

[2019-01-01 16:10] brunocodutra commented on #253
Right, it was certainly due to some dependency being updated, in which case this issue needs to be reported upstream once we find the culprit.

[2019-01-02 08:06] synedra-mpe opened #255 "Fix rotate logic for landscape launch screen images"
Diskussion about https://github.com/itgalaxy/favicons/pull/252 here. Landscape images are not gereated correctly.

[2019-03-06 08:50] imagine10255 commented on #244
I have the same problem

[2019-03-06 09:12] evilebottnawi commented on #244
Looks like a bug feel free to send a PR
/cc @brunocodutra

[2019-03-10 10:36] skizzo commented on #159
Since IMHO actually generating files out of the input image is something that 90% of this package's users are trying to do, it would be handy to have a hint about this in the README :)

So here's how I managed to save the files using `fs`:

[code]

Cheers

[2019-03-11 09:49] S1SYPHOS commented on #138
I'd be happy to see this, too :rice_ball:

[2019-03-11 09:57] evilebottnawi commented on #138
PR welcome :+1:

[2019-03-11 11:47] S1SYPHOS commented on #138
@yoanmalie: In the meantime, you may use `gulp-filter` to accomplish what you are looking for (I'll leave it here for future seekers):

[code]

[2019-03-14 18:22] RamilMamedo commented on #53
What about this? https://github.com/neocotic/convert-svg

[2019-03-21 11:19] egemon commented on #253
Sorry guys, thank u for doing such a good stuff. Do u think we can see a fix in some time?

[2019-03-21 11:23] evilebottnawi commented on #253
PR welcome, it is open source and many peoples don't have enough time

[2019-03-21 11:24] evilebottnawi commented on #246
/cc @jameswilddev problem still exists?

[2019-03-21 20:42] #138 closed

[2019-03-21 20:45] brunocodutra commented on #253
Actually a recent PR 254 replaced `svg2png` by `sharp`.
@egemon do you have the means to test favicons@master and verify that the issue is gone?

[2019-03-22 09:38] #244 closed

[2019-03-22 14:26] mikroware commented on #253
So that PR only changed the handling over svg images? I have this gray border issue with png images. So that PR would not have fixed my case. I will try to test this soon though and also export my image to svg to see if that works better.

[2019-03-23 11:06] brunocodutra commented on #253
Good point, I don't see why we use both jimp and sharp, we should move to sharp everywhere

[2019-03-23 19:01] andy128k commented on #239
@firestar300 probably your problem is because you share configuration between two processes.

[2019-03-24 08:27] jameswilddev commented on #246
I'm no longer using this within an ES3 project; sorry, not sure.

[2019-03-25 09:19] #239 closed

[2019-03-28 08:04] #255 closed

[2019-03-28 08:09] synedra-mpe commented on #255
https://github.com/itgalaxy/favicons/pull/252 has been merged.

[2019-03-30 20:04] andy128k commented on #183
According to [spec](https://developer.mozilla.org/en-US/docs/Archive/B2G_OS/Firefox_OS_apps/Building_apps_for_Firefox_OS/Manifest), `manifest.webapp` works in opposite way. It specifies html file (in `launch_path` property).

[2019-04-10 23:25] ollicle commented on #198
[Webhint](https://webhint.io/) highlighted this problem is a site I was looking at. Digging through the toolchain that build the favicons led me here.
<https://webhint.io/docs/user-guide/hints/hint-apple-touch-icons/#why-is-this-important>

[2019-04-21 15:14] dslpp056193 opened #262 "TypeError: dest.on is not a function"
Error:
![image](https://user-images.githubusercontent.com/11080873/56471944-121ce680-6461-11e9-8a0f-d45426ba6e50.png)

Gulpfile:
![image](https://user-images.githubusercontent.com/11080873/56471953-38db1d00-6461-11e9-868e-4c9b131fef38.png)

[2019-04-21 15:27] dslpp056193 commented on #262
My bad, i forget about `.stream` property at `require('favicons')`

[2019-04-23 09:45] evilebottnawi commented on #262
@dslpp056193 can we close issue?

[2019-04-23 09:45] dslpp056193 commented on #262
@evilebottnawi of course, close it. Thanks!

[2019-04-23 09:54] #262 closed

[2019-05-10 09:14] richardklose opened #263 "Next release?"
Currently there is not yet a release that contains the changes of #254. Are there any plans on creating a new release with this changes in the near future?

Currently our code is depending on the latest commit on master but I'd be happier with an actual release to depend on.
Depending on a commit from GitHub means the code will always be downloaded from GitHub on `npm install` but with a release o

[2019-05-10 13:15] evilebottnawi commented on #263
/cc @brunocodutra

[2019-05-17 16:28] ahukkanen commented on #263
I'm also waiting for the fixes at #252.

[2019-05-17 16:28] evilebottnawi commented on #263
/cc @brunocodutra friendly ping again

[2019-05-17 19:21] ahukkanen opened #264 "Switching PhantomJS to sharp has broken SVG scaling"
## Description of the issue

After switching PhantomJS to sharp, SVG scaling has been broken. In case a lower resolution SVG is provided as the source image than the largest generated icon, the generated icons are blurred as the lower resolution image is scaled up.

Here is an example of the result with a sample of a high resolution generated icon:
![scaling-issue](https://user-images.githubuserco

[2019-05-17 19:22] ahukkanen commented on #264
Possibly @kghost would have further information regarding this issue as the author of #254?

[2019-05-18 14:12] ahukkanen commented on #264
It seems sharp is actually rendering the SVG image with 72DPI in its originally defined width and height:
https://github.com/lovell/sharp/issues/729

I tried the suggestion to provide the calculated resizes density option to the constructor but it does not seem to provide any better result:
https://github.com/lovell/sharp/issues/729#issuecomment-284708688

My best guess how to fix this would be to

[2019-05-18 19:25] ahukkanen commented on #264
My guess (https://github.com/itgalaxy/favicons/issues/264#issuecomment-493680063) was correct and seems to fix the issue.

There is now a PR available to implement that fix: #265

[2019-05-19 09:52] ahukkanen commented on #264
For further information, I also dug a bit into `svg2png` and it seems that it is actually doing something similar:
https://github.com/domenic/svg2png/blob/5997ae9452796f480c13506c32cb04d1dc38369e/lib/converter.js#L84-L105

So, they are setting the SVG dimensions for the rendering directly to the SVG element, so that PhantomJS renders it in the expected size. Of course, from their perspective it is

[2019-05-19 15:07] #264 closed

[2019-05-22 07:01] raymondsze opened #267 "Is it possible to control what should be generated?"
Here is my usecase.
I would like to generate the favicons, metadata and manifest.json. The feature I currently need to support is localized the manifest.json.
Therefore I created a function called `getConfig(locale)`.

The config is passed to `favicons('favicon.png', config, callback)`. Let's say I support `zh-HK` and `en-US`, two manifest.json are needed.
Now, I call the `favicons('favicon.png',

[2019-05-23 09:56] evilebottnawi commented on #267
Looks like feature, feel free to send a PR

[2019-05-23 18:17] #263 closed

[2019-05-23 21:59] rosskevin opened #268 "5.4.0 (from 5.3.0) breaking change? (config.html[platform] || []).map is not a function"
Just updated from 5.3.0 to 5.4.0 - using via `app-manifest-webpack-plugin`

I'm wondering if there was a breaking change and semver wasn't followed for it?  I looked at https://github.com/itgalaxy/favicons/releases and checked for a changelog but there isn't a file.

[code]

Thoughts?  Is this a problem with usage for the webpack plugin instead?

[2019-05-24 06:33] ahukkanen commented on #268
I am experiencing exactly the same issue.

This is apparently originating from this PR:
https://github.com/itgalaxy/favicons/pull/260/files

And from this commit:
https://github.com/itgalaxy/favicons/commit/ad4816c20603f00e183721f9ddfb0c59e1afa2fb#diff-1fdf421c05c1140f6d71444ea2b27638

Caused by this line:
https://github.com/itgalaxy/favicons/blob/94236906b32840e15089053ee7897eb07182fadf/src/index

[2019-05-24 07:59] ahukkanen commented on #268
It seems those files are coming from here:
https://github.com/itgalaxy/favicons/blob/ad4816c20603f00e183721f9ddfb0c59e1afa2fb/src/config/html.js

This works OK when it is loaded, like during the tests.

However, the npm package itself still ships with a file named `src/config/html.json`. This is breaking the package as it is expecting to load the `html.js` file from the config dir.

As a remediati

[2019-05-24 08:19] ahukkanen commented on #268
#269 should fix this issue.

A new release is obviously needed after those changes are applied.

[2019-05-24 10:24] evilebottnawi commented on #268
/cc @brunocodutra regression?

[2019-05-24 14:16] WuglyakBolgoink opened #270 "how to prevent load some files, which try to download from "sharp" package?"
[code]

because we do not allow any package load external files from remote server, like a github.com...

[2019-05-24 14:19] evilebottnawi commented on #270
Impossible you need use stable internet or VPN, it is problem with network and can't be fixed on our side, sorry. Also you can try to use yarn (offline cache)

[2019-05-24 14:19] #270 closed

[2019-05-25 07:15] JoshuaWalsh commented on #53
@Hypnosphi It appears that as of #221 Sharp is now used.

[2019-05-25 10:39] #268 closed

[2019-05-25 10:41] brunocodutra commented on #268
Woops my bad - I'll release 5.4.1 today which should fix (thanks @ahukkanen!) this issue

[2019-05-26 10:31] rejas opened #272 "gulp example broken"
Hi, with v5.4 your gulp example in the README throws the following error when run:

[code]

What has changed in the way one has to provide a config to favicons?

[2019-05-26 22:19] meabed commented on #268
would you kindly release this now :)
Thanks

[2019-05-27 06:54] brunocodutra commented on #268
The release PR (#271) is blocked waiting for review approval.

/cc @evilebottnawi

[2019-05-27 08:28] echavaillaz commented on #272
Yes, I can confirm this bug...

[2019-05-27 09:51] evilebottnawi commented on #272
/cc @brunocodutra

[2019-05-27 21:42] chrbala commented on #272
It's caused by ad4816c. ``return Promise.all((config.html[platform] || []).map(µ.HTML.render));``. config.html[platform] is an object, so it does not have a map function.

It should be reverted back to something like:
[code]

I'm still getting errors with that though, because it seems that something was changes with regard to the rendering here. I'm not sure exactly what though, so for now I'll st

[2019-05-28 06:40] rejas commented on #272
Seems to be fixed with latest version 5.4.1

[2019-05-28 06:40] #272 closed

[2019-06-08 14:07] brunocodutra opened #273 "Deprecated media attribute"
Adapted from brunocodutra/webapp-webpack-plugin#181 (by @Scrumplex)

---
favicons utilizes media attributes, that are deprecated.
Example:
[code]
This example contains the `device-width` and `device-height` which are both deprecated in favour of `width` and `height`. [[1]](https://drafts.csswg.org/mediaqueries/#mf-deprecated)

These should therefore be replaced accordingly.

Validator I used: http

[2019-07-08 03:34] Jeff-Tian opened #277 "How to add extra dimensions?"
For example, I need to create an 108x108 png

[2019-07-08 04:08] Jeff-Tian commented on #277
Now I know I can put an extra field to `node_modules/favicons/dist/config/icons.json` and then enabled it in the project gulp task.

[code]

[code]

But is there any other more elegant way?

[2019-07-08 10:05] evilebottnawi commented on #277
/cc @brunocodutra

[2019-07-10 11:22] mattpr commented on #238
It used to be that you could programmatically get the html from the config object but looks like this changed with this commit:
https://github.com/itgalaxy/favicons/commit/ad4816c20603f00e183721f9ddfb0c59e1afa2fb

Used to be you could do something along the lines of the following to grab html snippets for each icon type.  You could check against the config to see which icon types are enabled as we

[2019-07-12 17:12] justgook opened #278 "Upgrade lodash.defaultsdeep to version 4.6.1 or later."
CVE-2019-10744

https://github.com/lodash/lodash/pull/4336

[2019-07-12 18:25] evilebottnawi commented on #278
PR welcome

[2019-07-23 22:22] lubelski opened #279 "using source property as an array"
Sorry if I'm being 'that guy' who didn't read the manual, but I have scoured this repo and even tried to read the source code, but I can't find anything about what using the `source` property as an array is intended to do.

I'm trying to support multiple source images but it's unclear what image in the array will be used for what output image.

the readme just has:

[code]

to which I scratch my h

[2019-07-24 09:16] mexn opened #280 "Add more options?"
Hi,
I was wondering, If you could probably implement options for
a) changing the name/extension of the manifest.json file and
b) tweaking the generated HTML

The reason for this is, that webhint raises errors when the manifest's extension is not `.webmanifest` (https://webhint.io/docs/user-guide/hints/hint-manifest-file-extension) and the apple-touch-icons have a `sizes`-attribute resp. appear mul

[2019-07-24 10:17] evilebottnawi commented on #279
/cc @brunocodutra

[2019-07-24 10:17] evilebottnawi commented on #280
PR welcome

[2019-07-24 18:42] lubelski commented on #279
ok I read through enough code to find this function.
  https://github.com/itgalaxy/favicons/blob/master/src/helpers.js#L257

I basically see what it's doing and I think I can get my current task done.

I'll try to add a PR for a note in the readme to explain what this is doing (once I'm sure I understand it).

[2019-07-24 23:15] lubelski commented on #279
ok, so as far as I can tell, the rule is:

* if svg present then use svg
* otherwise, use the smallest image in the list that is larger than the target size
* if no image is larger, use the largest found

is the goal for multiple source image support?

I _think_ for favicon.ico, it's using 64 as the breakpoint.  I am using a different src image at 64x64 vs larger sizes right now, and this is leadi

[2019-07-24 23:25] lubelski commented on #279
actually, just now finding that the order used seems to have some effect also.  very curious what the intent is here.

[2019-07-25 19:50] brunocodutra commented on #279
@lubelski the rules ~are~ seem to be:

1. [The first SVG in the source array takes precedence over all other images](https://github.com/itgalaxy/favicons/blob/master/src/helpers.js#L267).
2. Otherwise, [the image whose size is nearest to the target icon is selected](https://github.com/itgalaxy/favicons/blob/master/src/helpers.js#L291).

[2019-07-29 20:17] lubelski commented on #279
ok, had to reorganzie this with different variables to get my brain to see what it's actually doing, but there _is_ a slight order dependence thing.

(it's sort of a reverse **price is right** rules.  the winner is the closest _without going under_.  and then the default in the case of no winner is order dependant)

---

since the `nearestIcon` (i.e. the winning icon) is initialized to the first i

[2019-07-31 09:05] musaffa commented on #202
@evilebottnawi Is there any update about having an option to disable manifest generation?

[2019-07-31 19:10] brunocodutra commented on #279
You're absolutely right, thanks for diving deep into this!

[2019-08-21 23:53] lucasvazq opened #282 "Outdated content"
manifest.webapp

Firefox OS doesn't exist anymore

https://developer.mozilla.org/en-US/docs/Archive/B2G_OS/Firefox_OS_apps/Building_apps_for_Firefox_OS/Manifest

[2019-08-22 10:50] evilebottnawi commented on #282
PR welcome

[2019-08-22 11:44] stheine opened #283 "Prepare for react 17, change use of componentWillMount()"
After updating to react 16.9.0, there is the warning:

Warning: componentWillMount has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

* Move code with side effects to componentDidMount, and set initial state in the constructor.
* Rename componentWillMount to UNSAFE_componentWillMount to suppress this warning in non-strict mode. I

[2019-08-22 11:47] evilebottnawi commented on #283
What? It is not react repo

[2019-08-22 11:47] #283 closed

[2019-08-22 19:35] lucasvazq commented on #282
@evilebottnawi I can't right now, in a week

[2019-09-07 17:22] adams-family opened #285 "Can't install via 'npm install favicons' on Debian 8"

[2019-09-07 17:27] adams-family commented on #285
Maybe it's caused by my stupidity :-) then sorry about that but I can't seem to install this package via 'npm install favicons' because of the following error:

[code]

**Node version:**
v6.1.0

**NPM version:**
3.8.6

**Debian version:**
Debian GNU/Linux 8

Any clue much appreciated, otherwise I guess I'll upgrade my environment and retry.

[2019-09-07 17:29] adams-family commented on #285
Sorry guys, after gathering all data about my issue I found that this is because I have to update my NodeJS environment:

https://stackoverflow.com/questions/53022392/installing-sharp-usr-include-vips-vips83525-fatal-error-glib-object-h

I think you can close this issue in this case :)

[2019-09-09 10:03] #285 closed

[2019-09-23 18:20] dockleryxk commented on #285
@adams-family will you explain what you did? I am getting this error on macos and Ubuntu:

[code]

[2019-09-23 19:27] adams-family commented on #285
Sure, I got the error on NodeJS v6.1.0. I learned on stackoverflow that this version of NodeJS is not supported by one of the components.

I tried my luck on Docker with NodeJS 10.8.0 and that solved my problem.

I can describe what I did (I hope I haven't forgot for anything):

Dockerfile:
[code]

docker-compose.yml:
[code]

Created a **data** folder where I put `source.png`.

Created a **src** f

[2019-09-23 21:31] dockleryxk commented on #285
@adams-family thank you! It turns out my issue is related to this: https://github.com/lovell/sharp/issues/1882

[2019-09-28 03:29] niruix commented on #253
The same problem brought me here.

And actually, I found that when `.svg` file is used instead of the `.png` one, the problem is gone.

I don't actually know any detail on the issue, but maybe take a look at the parameter used during PNG file processing?

[2019-09-28 07:51] janosh opened #286 "Update deps"
Would you accept a PR to update dependencies? In particular `sharp` to avoid [version mismatch issues](https://github.com/gatsbyjs/gatsby/issues/16957#issuecomment-536163039) with more up-to-date packages?

[2019-09-28 12:45] evilebottnawi commented on #286
Yes, feel free to send a PR

[2019-10-12 19:12] jacobbogers commented on #202
yeah, use this
[code]

[2019-10-15 14:19] oller commented on #202
It seems `manifest.json` can support a lot of properties that aren't supported by favicons, i.e. `related_applications`, `prefer_related_applications:` etc.

Which as mentioned above is forcing users to use another package to handle the manifest generation, the loss being you're going to have to handle icons separately again.

If either this plugin could have a flag to disable manifest, or ideally

[2019-11-02 20:24] JulianBerger commented on #286
Check #290

[2019-11-28 10:32] juliantroeps opened #292 "Update npm-Package"
Shouldn't we update the npm package to 5.0.0 (currently 5.4.1) and put the latest version under Releases? Additionally we could use the GitHub Packages feature.

[2019-11-28 10:50] evilebottnawi commented on #292
Do you want new release?

[2019-11-28 13:27] buzz commented on #292
I'd very much like to see a new release.

Right now I can't install favicons anymore as sharp-0.22.1 fails to build (npm build log below).
I checked and sharp-0.23.3 builds fine which is already in master.

[code]

[2019-11-28 13:29] evilebottnawi commented on #292
WIP

[2019-11-28 14:23] evilebottnawi commented on #286
Done

[2019-11-28 14:23] #286 closed

[2019-11-28 14:23] evilebottnawi commented on #292
Done in `5.5.0`

[2019-11-28 14:23] #292 closed

[2019-11-28 14:23] evilebottnawi commented on #278
Done

[2019-11-28 14:23] #278 closed

[2019-11-28 14:28] #246 closed

[2019-11-28 14:29] #221 closed

[2019-11-28 20:02] jantimon opened #293 "5.5.0 includes breaking change"
I tried upgrading to 5.5.0 however it seems node 6 is no longer supported.

Unfortunately with that change it is not compatible with the webpack 4.x ecosystem anymore.

<img width="474" alt="webpack" src="https://user-images.githubusercontent.com/4113649/69829918-6a4f6e80-1222-11ea-907e-6bd1c4857f36.png">

As this is a breaking change it should probably be released as favicons 6.0

[2019-11-29 09:37] evilebottnawi commented on #293
It is not breaking change :smile: we have https://github.com/itgalaxy/favicons/blob/master/package.json#L46 a long time :smile: I think it is time to do breaking change in `favicons-webpack-plugin`, node@6 is very old and very few developers use it, a lot of loaders/plugins already require node@10, but have compatibility with webpack@4, i am afraid what packages which we use require node@8 and we

[2019-12-04 05:42] georgyfarniev opened #294 "Favicons name hashing"
Hello. Please add support of hashing for icon filenames, this is very imporant feature, this is how caching works everywhere now.

I use it via webpack plugin and I have no options to solve this problem :(

@evilebottnawi, consider adding just callback function (optional) that can modify output file name. Could be useful!

[2019-12-04 06:33] georgyfarniev commented on #294
@evilebottnawi, can you please review PR for this? I need it so much. Thanks in advance, and thanks for working on this module.

[2019-12-04 09:34] evilebottnawi commented on #294
Please open issue in webpack plugin

[2019-12-04 10:08] georgyfarniev commented on #294
@evilebottnawi, after checking code of favicons I realized that it has to be done in webpack plugin. Thank you for quick response.

[2019-12-04 10:08] #294 closed

[2019-12-08 15:26] gawlk opened #295 "Error after multiple runs within a short time"
Hi,

There is an error if we don't wait too long before relaunching the library:

[code]

Is this normal ?

Here's my config

[code]

[2019-12-09 09:33] evilebottnawi commented on #295
Can you create reproducible test repo?

[2019-12-09 14:50] EvanBacon commented on #130
I know this is old, but I think the plugin is generating way too many apple touch icons. Reference: https://github.com/GoogleChrome/lighthouse/issues/6700 I've seen a few places reference only needing 3 different sizes of icons. Unfortunately the poor documentation leaves a lot of room for uncertainty.

[2019-12-09 14:57] evilebottnawi commented on #130
@EvanBacon feel free to send a PR with new option `onlyNewAppleSizes`

[2019-12-09 23:34] gawlk commented on #295
Sure here it is: https://github.com/gawlk/favicons-lib-error-demo

Here's the whole error message

[code]

Although it seem to be svg related, I couldn't reproduce it when generating favicons from a png

[2019-12-10 09:15] evilebottnawi commented on #295
What is version you use?

[2019-12-10 09:16] gawlk commented on #295
Favicons 5.5 the same as in the repo

On Tue, Dec 10, 2019 at 10:15, Evilebot Tnawi <notifications@github.com> wrote:

[2019-12-10 09:24] evilebottnawi commented on #295
hm, all fine, can you try to reinstall deps? Maybe something wrong with environment (with `sharp`)

[2019-12-10 09:27] gawlk commented on #295
Not possible, I had the error with 2 different codebases and I created this repo from scratch few hours ago

[2019-12-10 09:34] evilebottnawi commented on #295
I don't have idea what is wrong :confused:

[2019-12-10 09:38] gawlk commented on #295
It's ok ! Maybe it's my laptop somehow 🤔

[2019-12-10 16:10] jantimon commented on #293
@evilebottnawi

5.4.1 was without that engine entry:

https://github.com/itgalaxy/favicons/blob/049f3a1325035480a2e63245f639673653ff0898/package.json

so if 5.4.1 supports node 6 and the current version removes node 6 support it is a breaking change

[2019-12-11 09:33] evilebottnawi commented on #293
@jantimon agreen, but now our dependencies require node@8 and we can't downgrade them to `6` :disappointed: any ideas?

[2019-12-11 12:13] jantimon commented on #293
That's fine - maybe release as 6.0 so semantic versioning is correct again.

Do you know if any older version of favicons is compatible to node 6?

[2019-12-11 13:40] evilebottnawi commented on #293
@jantimon :+1:
5.4 should have compatibility with node@6

[2020-01-03 16:39] dnorthup-ums commented on #61
If you need to output SVG (using SVG as input) you could use [SVG.js](https://github.com/svgdotjs/svg.js)...

[2020-01-03 16:39] dnorthup-ums commented on #58
If you need to output SVG (using SVG as input) you could use [SVG.js](https://github.com/svgdotjs/svg.js)...

[2020-01-04 09:25] ozelot379 commented on #157
The follow works for me to disable `mobile-web-app-capable`

[code]

[2020-01-10 14:39] aarree commented on #295
Hi @gawlk ,
I had the same problem. The problem on my end was that I installed favicon over terminal and startet the task over the IDE with a different node version. The task must run with the same node Version it was build with.

Bit late, but I hope it helps!

[2020-01-14 15:24] gawlk commented on #295
@aarree sadly everything has the same node version but thanks

[2020-03-04 19:35] WuglyakBolgoink commented on #295
this happen not only after multiple times... on my macbook I have this error every time after start webstorm. after 2-3x times plugin create images correctly. on our build server (gitlab) we never had this error...  🤦🏻‍♂️

[2020-03-04 19:58] WuglyakBolgoink opened #299 "msapplication-TileColor has null value"
if `background: null,`
[code]

or if if `background: '',`
[code]

I think, it will be better to skip this line from generated html file...

[2020-03-04 20:30] WuglyakBolgoink opened #300 "which options are really used?"
please sync all possible options (+ options in gulp). because default options doesn't contain the options from gulp example

[2020-03-04 22:31] gawlk commented on #295
@WuglyakBolgoink Do you have the latest version ? It seems to be ok for me now

[2020-03-05 10:20] evilebottnawi commented on #300
We don't have `gulp` module in repository

[2020-03-05 10:20] #300 closed

[2020-03-05 10:20] evilebottnawi commented on #299
Feel free to send a PR

[2020-03-05 19:46] WuglyakBolgoink commented on #300
@evilebottnawi

I mean this example:

[code]

[2020-03-05 19:48] WuglyakBolgoink commented on #300
[code]

was not described on default config...

[2020-03-06 10:33] evilebottnawi commented on #300
It is options for `gulp-favicons`, we are not that repo

[2020-03-17 23:18] #295 closed

[2020-04-02 15:14] rafamel opened #302 "[FR] Allow different source image for icons and splash screens"
Would it be possible to add the feature to specify a different source image for icons than the one to be used for splash screens?

[2020-04-02 15:15] evilebottnawi commented on #302
Yes, PR welcome

[2020-04-18 18:25] uwolfer opened #303 "Add support for specifying purpose in manifest (for e.g. adaptive icon / maskable)"
See the following link for an intro: https://web.dev/maskable-icon/

In order to allow such icons, you should be able to set an icon `purpose` in the manifest.

[2020-04-20 11:02] evilebottnawi commented on #303
PR welcome

[2020-04-20 19:18] uwolfer commented on #303
@evilebottnawi: Would you suggest this as a toplevel configuration (e.g. `iconsPurpose: string | null`)?

[2020-04-23 13:52] MrWook opened #304 "Add SVG Favicon output support"
The main desktop browser are supporting SVG favicons. https://caniuse.com/#feat=link-icon-svg
This library already supports svg as an input field but doesn't have a svg output, as far as I can see.
Would be cool if this will be implemented.

[2020-04-28 02:16] RplusSoundOn commented on #304
svg favicon with fallback

[code]

https://css-tricks.com/svg-favicons-and-all-the-fun-things-we-can-do-with-them/

[2020-04-29 11:00] MrWook commented on #304
@RplusSoundOn i know how it should look like in the html.
This library has a html output where the svg output is missing

[2020-04-29 11:16] evilebottnawi commented on #304
PR welcome

[2020-05-26 12:22] Michael-1 commented on #295
I could solve the problem by removing the XML tag on the first line of the favicon SVG file.

[2020-06-04 08:50] Moritz-Topp opened #310 "Error when loading"
Hey :D

My Setup:
I am using npm with Vue. In dev I run `npm run serve`.
My Production is using Docker, where I first build the dist and load them into nginx.

Problems:
When I open the page over npm serve this happens:
`Uncaught TypeError: fs.readdirSync is not a function`

In addition I got an Console Error when running npm run serve:
`in ./node_modules/sharp/build/Release/sharp.node
Module pars

[2020-06-04 11:32] evilebottnawi commented on #310
No related, it is webpack plugin problem

[2020-06-04 11:32] #310 closed

[2020-07-03 10:54] andrewplummer commented on #295
Having the same issue... removing the XML tag seems to fix it

[2020-07-08 07:14] Voltra opened #311 "[FR] More granularity in icons options"
# Current state

[Currently](https://github.com/itgalaxy/favicons#nodejs), favicon options allow to toggle on and off certain "categories" of icons or an option object per "category" for fancy manipulations.

# Use case

In the projects (websites) I work on, we only need two of the proposed "categories" : `favicons` and `appleIcon`. At first we didn't specify any options which caused to generate w

[2020-07-08 10:57] evilebottnawi commented on #311
Pr welcome

[2020-07-08 14:16] Voltra commented on #311
See #312

[2020-07-09 16:25] whitecolor commented on #253
@niruix thanks for pointing to `svg`.

[2020-07-17 11:20] slayerpart commented on #202
@evilebottnawi Any status update about optional manifest generation? This is really blocking us from using this module.

[2020-07-20 12:04] evilebottnawi commented on #202
@slayerpart PR welcome

[2020-07-21 12:24] evilebottnawi commented on #311
Released in `6.2.0`

[2020-07-21 12:24] #311 closed

[2020-07-21 12:25] #293 closed

[2020-07-25 02:32] bushev opened #314 "Is is tested with TypeScript?"
Hi,

I'm bundling this module for AWS Lambda (using TypeScript).

My tsconfig.json is:

[code]

I'm getting the following error:

[code]

Could you help to fix it please?

[2020-07-25 12:25] evilebottnawi commented on #314
It is not typescript error, it is JS error, can you provide reproducible test repo?

[2020-07-27 12:05] Voltra commented on #185
see #312

[2020-07-27 18:17] bushev commented on #314
Sure, please check out this repository - https://github.com/bushev/favicons-demo

[2020-07-31 15:25] doublemix opened #316 "HTML escape special characters"
I noticed that the HTML generation functions directly interpolate user input such as `appName` and `appShortName`. This makes it dangerous if working with user submitted content. For example:

[code]

The above allows abritrary injection into the html head. (The above will create an alert box if the generated html is included into a page, although anything is possible at this point.)

Also, since

[2020-07-31 15:42] evilebottnawi commented on #316
PR welcome, developers love do bad things

[2020-07-31 16:14] doublemix commented on #316
Working on it. Any recommendations/procedures for contributing?

Plan to only escape app name in HTML. Do you think of the other HTML interpolations should be escaped, as well? Don't think it can hurt.

[2020-07-31 17:03] evilebottnawi commented on #316
Just send the PR, I will review and give advices

[2020-08-26 13:08] wighawag opened #318 "favicons seem to never call back in some cases"
I have the following code
[code]

and sometime, the callback never get called. I have to stop the process
any idea ?

[2020-08-26 13:19] evilebottnawi commented on #318
Because it is async, we don't support it

[2020-08-26 16:56] wighawag commented on #318
What do you mean ?

[2020-08-26 16:59] evilebottnawi commented on #318
callback is async and we don't use `await callback()` in code

[2020-08-26 18:14] wighawag commented on #318
oh i see, but that is not the issue. what I mean is that the callback never get called (removing async here will not change that)

[2020-08-27 12:06] evilebottnawi commented on #318
@wighawag please create reproducible test repo

[2020-08-28 18:21] bushev commented on #314
Hey Alexander,

Just following up on this. Any info? Thanks.

[2020-08-29 11:28] evilebottnawi commented on #314
Sorry for delay, don't have time right now on this, feel free to investigate

[2020-08-30 15:46] MaxmaxmaximusAWS opened #319 "How to minify manifest.json file and optimize logo image with webpack loader? how to give assets name py pattern `name-[hash].ext` for forever caching?"
How to minify manifest.json file and optimize logo image with webpack loader? how to give assets name py pattern `name-[hash].ext` for forever caching?

[2020-08-31 10:30] evilebottnawi commented on #319
For images we prepare https://github.com/webpack-contrib/image-minimizer-webpack-plugin (release will be on this week), after this we will implement `json-minizer-webpack-plugin` for compressing json assets, this questions is not related to `favicons` package directory

[2020-08-31 10:30] #319 closed

[2020-08-31 11:02] MaxmaxmaximusAWS commented on #319
@evilebottnawi  Regarding, my question is not related to image compression, and json compression. My question is related to: why does the "favicons" package NOT compress json and does NOT compress images? The site https://gtmetrix.com lowers my points for only two things, the logos created by the "favicons" library and "manifest.json" created by the "favicons" bubble library. That's why I wrote he

[2020-08-31 11:19] evilebottnawi commented on #319
You can use `imagemin` for this, it is out of scope pachage, we just generator

[2020-08-31 12:35] MaxmaxmaximusAWS commented on #319
@evilebottnawi don't you want to make a webpack plugin?

[2020-08-31 12:38] evilebottnawi commented on #319
@MaxmaxmaximusAWS We already doing it https://github.com/webpack-contrib/image-minimizer-webpack-plugin

[2020-08-31 12:48] MaxmaxmaximusAWS commented on #319
@evilebottnawi We are not talking about image compression, and we are not talking about json compression. We are talking about the GENERATION of images, and the GENERATION of mainfest.json, which will THEN go to webpack assets and then people will decide what to do with them =)

No favicons and webpack integrations exist right now. (And the integration that is, it does not add generated images and

[2020-08-31 12:58] evilebottnawi commented on #319
No caches and persistent caches, very slow + you can't minify embedded images (`url-loader`) + deps are hardcoded

No compressed assets if you using `copy-webpack-plugin` + no caches and persistent cache + deps are hardcoded

Do you search https://github.com/jantimon/favicons-webpack-plugin?

[2020-08-31 13:14] MaxmaxmaximusAWS commented on #319
@evilebottnawi Do you search https://github.com/jantimon/favicons-webpack-plugin?

Он является просто оберткой над вот этим вашем пакетом "favicons", и не добавляет ни какую интеграцию с webwpack системой лоадеров. Все мои картинки и все мои json имеют лоадеры и сжимаются, но картинки и manifest.json сгенерированный favicons-webpack-plugin не пропускает их через систему webpack полноценно =) я по

[2020-08-31 13:33] evilebottnawi commented on #319
@MaxmaxmaximusAWS Да, судя по всему это хорошая идея, нашел еще https://github.com/arthurbergmz/webpack-pwa-manifest, но он не использует текущий пакет, мы можем начать это, я  вижу только положительные стороны этого плагина

[2020-08-31 13:34] evilebottnawi commented on #319
Честно говоря я бы даже положил его `webpack-contrib` и сделал официальный решением, возможно нам потребуется небольшая работа здесь тоже, например кэширование

[2020-09-03 10:06] MaxmaxmaximusAWS commented on #319
Кстати, на счет "как сжать `manifest.json`", вот так:

[code]

Только надо чтобы этот плагин шел после плагина генерирующего иконки)

[2020-09-16 21:18] #314 closed

[2020-10-08 20:55] lucaskjaero opened #322 "NPM audit reports high vulnerability coming from to-ico package."
Hi! When using favicons, NPM audit shows that the dependency `to-ico` is vulnerable to [CVE-2020-7661](https://www.npmjs.com/advisories/1550), which is rated as a high severity vulnerability. It also looks like the `to-ico` project has been abandoned.

Would the right approach be to remove the `to-ico` dependency? I'm open to submitting a PR if that's the direction you would like to take.

[2020-10-14 09:16] wighawag commented on #318
In this repo https://github.com/wighawag/purple-warlock
the script web/_build/generate.ts call favicon and sometime favicon never call the callback.
I work around this by adding a timeout and try again.

[2020-10-19 14:29] ym-project commented on #322
I dislike it too. But in fact this vulnerability is not harmful because this package doesn't interact with the outside world and is used only locally.

[2020-11-12 19:59] dermoumi commented on #303
@evilebottnawi @uwolfer made a PR, I'd like a review when you guys have some free time.

[2020-11-18 15:37] papiliond commented on #253
I still have this issue.

[2020-12-09 04:24] nstuyvesant opened #324 "Project with sharp and favicons expecting symbols in favicon's libvips.42.dylib"
On macOS 11.0.1, my project uses sharp 0.26.3 and favicons 6.2.0 (which uses sharp 0.25.2). When I try to build the site, I get an error...

If I go to the directory for favicons and do a...

then do another build, the problem goes away.

Seems the latest version of sharp expects the libvips.42.dylib with symbols and the one provided by the older version of sharp used by favicons doesn't have it.

[2020-12-11 21:11] sclickk commented on #322
[`png-to-ico`](https://www.npmjs.com/package/png-to-ico) is a good package I found without the vulnerability. Maybe we should be work on using this package instead?

[2020-12-16 13:01] donskov commented on #322
Hello guys. Any progress about this issue?

[2021-01-11 20:53] jdmerinor commented on #318
I'm actually having the same issue and my callback is completely sync (saying that looking at the code that wouldn't really make a difference). I think it was not happening on V5.X

[2021-01-11 21:54] jdmerinor commented on #318
I created this super simple example and I explained how to make it fail. I also added the module "why-is-node-running" to it and like that it's possible to see the handles that are holding the process https://github.com/jdmerinor/testFavicons

[2021-01-12 06:20] jdmerinor commented on #318
@alexander-akait On the repo mentioned above I added also the logs that I got when it failed and thew handles taken, I'm adding those here for reference, this was basically my output:

[code]

[2021-02-20 14:49] electrocnic commented on #322
How comes, then, that we get this vulnerability error when building our projects, because the dependency is still listed in the `package-lock.json`? It would be nice if you could remove this so we can use it out-of-the-box. Maybe I just don't see the correct way to deal with the npm packages on the other hand?

[2021-02-20 15:05] electrocnic commented on #322
If you really only used those dependencies locally, you would and should not add them to the `dependencies`-tree in the `package.json`, but rather in the `dev-dependencies`:

![image](https://user-images.githubusercontent.com/13003800/108600120-809c9980-7395-11eb-816a-e0a5b8f8a346.png)

[2021-02-20 21:46] jantimon commented on #322
@electrocnic I guess you misunderstood locally.. @ym-project probably meant that it does not expose `to-ico` in any public api method

@sclickk this package looks interesting (it is using @types/node as dependency which will probably lead to issues) but maybe someone could create a pull request to replace `to-ico` with `png-to-ico`

[2021-02-20 23:32] electrocnic commented on #322
Ok thanks for clarification, but I still get build errors, even with `--force --legacy-peer-deps`...
I am not even sure if it's the same issue.

[2021-02-21 02:59] steambap commented on #322
Hi @jantimon , `png-to-ico` have 3 dependencies:
- @types/node for TypeScript definition
- jimp for png decode and image resize
- minimist for cli usage

[2021-02-21 12:37] jantimon commented on #322
@steambap won't `png-to-ico` cause problems as it will install node typings for `node 14`?

[2021-02-22 02:33] steambap commented on #322
@jantimon Typings have no effect on running code. These typings will make your life easier when you are using vs code or other IDEs like Webstorm.

[2021-03-16 07:56] zhnoah commented on #318
I think this is why the program hangs when I use **favicons-webpack-plugin**.

[2021-04-04 12:20] devalexqt opened #328 "How I speed up icons generation process."
This favicon module require up to 30 seconds to generate all icons and splash screens on my VPS server (4 core, 8G ram), but I likely decrease converting speed to 3 seconds. (10X improving!)

I do it for my personal use, but if someone interesting to implement this in favicon module, I will be happy to explain.

## Generating icons
First of all I use `ffmpeg` lib with next pattern: `one input -> m

[2021-04-11 15:00] RomanHotsiy commented on #322
I would vote for removing this package at all vs replacing it with another. Looks like `.png` favicons are supported by all the major browsers and we don't need `.ico` anymore.

https://caniuse.com/link-icon-png

[2021-04-11 21:41] Meisolsson opened #329 "Replace JIMP with Sharp?"
From looking at the project there seems to be two image manipulation libraries JIMP and Sharp. And while I understand that the project wants no external dependencies, since it already uses sharp for parts of the pipeline why not everywhere. Sharp is [much faster than JIMP](https://sharp.pixelplumbing.com/performance#results) and since that speed is there why not use it?

[2021-04-30 02:23] nirui commented on #322
But it hurt "the peace of mind" of mine, so it surely counts as harmful, right?

Of course I came here to make sense: generally it is considered a bad practice to depend on something abandoned (if it is truly). The sooner to "move on", the smaller the pain.

[2021-05-11 14:39] alexander-akait commented on #329
We have `sharp` and `jimp` :smile: Feel free to refactor code and drop `jimp`

[2021-08-31 04:45] jdmerinor commented on #318
Is there an update on this? With the new version of Node JS it gets stuck even worse... now not even with a retry it will be able to come back to life :(

[2021-09-20 12:32] Captain-FLAM opened #333 "Wrong generation for Windows "mstile" ?"
The web app "Real Favicon Generator" generate files with a transparent background and an icon centred with this dimensions :

mstile-70x70 : 128x128 px, icon : 95x95px
mstile-150x150 : 270x270px, icon : 126x126px
mstile-310x150 : 558x270px, , icon : 126x126px
mstile-310x310 : 558x558px, icon : 259x259px

[2021-09-29 12:12] Tofandel opened #334 "Keep ratio when scaling?"
Is there any option or way to have the image fitted keeping the proportions when generating the favicon other than to resize the image directly?

Currently if the image is not square it gives bad results

[2021-10-18 15:21] andy128k opened #340 "Remove node-fibers to enable support of Nodejs 16.x"
[Fibers](https://github.com/laverdet/node-fibers) are broken on Nodejs 16.x.

[2021-10-19 11:11] #329 closed

[2021-10-20 19:41] #340 closed, assigned to nobody

[2021-10-26 08:13] raymondsze opened #354 "Localized manifest?"
Even with https://github.com/itgalaxy/favicons/pull/348. Seems like it is insufficient to support localized manifest.
I did some search on stackoverflow and seems the normal practice for localized manifest is like this.
`<link rel="manifest" href="/en/manifest.json">`
For example, if the user browse the Chinese version of the website, it becomes
`<link rel="manifest" href="/zh/manifest.json">`
99%

[2021-11-07 20:16] andy128k commented on #334
I was not able to reproduce the issue. See #360
It may happen that the issue was already fixed in master branch.

@Tofandel May you check it again?

[2021-11-08 21:36] andy128k commented on #354
Placing manifest file into a subdirectory complicates the story. But with #361 you could do following:

1. generate all images by running with `{ output: { files: false, html: false } }`
2. generate English html and manifest with `{ output: { images: false }, files: { android: { manifestFileName: "manifest-en.json" } } }`
3. generate Chinese html and manifest with `{ output: { images: false }, fil

[2021-11-08 21:56] andy128k opened #362 "Dead platforms"
Firefox OS is dead. Opera Coast is also dead.

Should this library disable them by default? Or maybe remove their support totally?

[2021-11-08 22:22] andy128k commented on #333
See https://github.com/RealFaviconGenerator/realfavicongenerator/issues/411

PR welcome. Sizes may be adjusted [here](https://github.com/itgalaxy/favicons/blob/master/src/platforms/windows.ts#L9-L22).

But I do not know what to do with centering (if any).

[2021-11-09 11:24] alexander-akait commented on #362
I think we can remove them safely

[2021-11-09 20:56] #354 closed

[2021-11-09 21:13] andy128k commented on #362
I just realized that removal of support of Firefox OS makes big set options and functionality unused (`mask`, `overlayGlow`, `overlayShadow`).

[2021-11-09 21:14] alexander-akait commented on #362
It is very good

[2021-11-09 22:22] #238 closed

[2021-11-09 22:46] #183 closed

[2021-11-09 22:46] #282 closed

[2021-11-09 22:46] #362 closed

[2021-11-10 00:22] lucasvazq commented on #282
@andy128k Good job, I completely forgot about this

[2021-11-11 15:08] andy128k commented on #273
https://github.com/onderceylan/pwa-asset-generator/issues/71#issuecomment-552081758

[2021-11-11 16:15] andy128k opened #365 "Next release?"
The latest version of `favicons` appears in `npm audit` as a vulnerable to different kinds of attack because of its dependencies.
It seems, code in `master` branch got rid of those issues (by dropping of `to-ico` and `jimp`). It would be great to have a release and solve these issues for downstream.

Additionally, this package is declared as `gulpfriendly` and has tests of usage it with gulp. But

[2021-11-11 16:17] alexander-akait commented on #365
I think we will finish `browserslist` support, but we can do release right now if you want, even more I can add permission to do release, so you can do it without me

[2021-11-11 16:26] andy128k commented on #365
I am not sure if `browserlist` is actually needed.

1. Android Chrome icons depend on device's DPI, not on a browser's version
2. Apple icons and splash screens also depend on device, not a browser.
3. Windows platform is not a browser.
4. Yandex browser wants a single image and this may be turned on/off completely.
5. For standard icons `favicons` generates bare minimum.

[2021-11-11 16:28] alexander-akait commented on #365
@andy128k Can you give me npm name?

[2021-11-11 16:30] alexander-akait commented on #365
Found you, added https://www.npmjs.com/package/favicons/access, feel free to do release :+1:

[2021-11-11 17:15] #243 closed

[2021-12-13 20:09] mureni commented on #365
Any update on when the new release will be available? The audit headaches from the to-ico dependency are driving me nuts!

[2021-12-13 20:13] andy128k commented on #365
@mureni A version `7.0.0-beta.1` is already released.
[Here](https://github.com/jantimon/favicons-webpack-plugin/pull/291) is also a PR to one of downstream packages to test it.

[2022-01-08 22:27] DanielRuf opened #370 "heads up: broken colors package"
https://github.com/webpack/webpack/issues/15130#issuecomment-1008163400
https://github.com/Marak/colors.js/issues/285

[2022-01-09 02:48] agusterodin commented on #370
Same here. Console gets completely spammed indefinitely when running a project that uses this library.

[2022-01-09 08:57] DanielRuf commented on #370
@agusterodin see https://github.com/Marak/colors.js/issues/285#issuecomment-1008168237 for some possible solutions.

If needed I can prepare the relevant patch.

[2022-01-09 23:25] rsadr0pyz commented on #370
**npx marak-free**

[2022-01-09 23:37] agusterodin commented on #370
I have no idea what that package is. Potentially dangerous given how weird things have been from Marak. Use caution when running commands with npx.

[2022-01-10 07:44] DanielRuf commented on #370
@agusterodin see https://unpkg.com/browse/marak-free@1.0.1/ and https://unpkg.com/browse/marak-free@1.0.1/index.js

[2022-01-10 12:13] xoxys commented on #370
Other seems to replace colors with chalk e.g. https://github.com/aws/aws-cdk/issues/18329 maybe that's a more reliable solution.

[2022-01-10 13:10] DanielRuf commented on #370
Not in most cases as this might lead to breaking changes. The returned strings are a bit different and parsers may behave differently. See for example https://github.com/cli-table/cli-table3/pull/250#issuecomment-1008281148

The easier and faster fix is to pin the version since you can not remove or change already published package versions.

[2022-01-10 14:22] DanielRuf commented on #370
I never said "longterm" fix. The longterm solution would be to switch to something like `chalk`, which is actively maintained.

Alternatively switch to the fork (DABH is one of its previous contributors and maintainers): https://www.npmjs.com/package/@dabh/colors

[2022-01-10 14:26] xoxys commented on #370
Ok then we talk about the same thing now :) because what I said initially was

where `more reliable` means long term/permanent fix and not hotfix.

[2022-01-15 12:57] #370 closed

[2022-01-20 20:20] drolsen commented on #365
What was the decision for `7.0.0-beta.1`'s `dist/` files to move over to being `ESModules` vs. well established `require` like on `6.2.2`?
I've got a  downstream package (`node 14.17.0`) that I for the life of me can't seem to get working using `7.0.0-beta.1` cause `dist/` is now all ESModules.

[2022-01-20 22:35] andy128k commented on #365
See #355

[2022-02-02 00:54] nrthbound commented on #365
What's the overall status of this? Been quite some time, is this scheduled to be part of the main release sometime soon? Thanks.

[2022-02-11 19:43] Marr11317 commented on #53
So if sharp is now used, what is the status of

[2022-02-15 19:54] jbroutier commented on #334
Hello,

I have encountered the same issue when using a non-square svg file without a `viewBox` attribute on the <svg> tag. Adding the attribute on the same exact file solved the issue.

[2022-02-15 19:57] andy128k commented on #334
@jbroutier which version do you use? May you provide a reproducible test?

[2022-02-15 21:06] jbroutier commented on #334
I'm using version 6.2.2.

Sure, here it is: https://github.com/jbroutier/favicons-334 Run both `src/with-viewbox.js` & `src/without-viewbox.js` and compare the generated files in the corresponding output folder.

In the second case some of the generated favicons are not centered and have an abnormally huge padding on some sides. It looks like it's broken only when the target favicon size is bigger

[2022-02-16 00:10] andy128k commented on #334
@jbroutier Thanks!

[2022-02-16 22:34] #334 closed

[2022-02-17 21:57] andy128k opened #383 "Bring back coverage report and badge"
Removal of badge: #381

[2022-02-18 10:20] Rotzbua commented on #383
Note: the badges are broken, so I removed them in my PR. I do not know how to replace them.

[2022-03-11 03:16] stevemarksd opened #385 "Can't be used with Next.js: Consider publishing non ESM modules: is a nightmare to setup and make it work!"
I have to add this util

[code]
Then when I want to use it:

[code]

Took me hours to figure out. In addition:

 - `ts-node` must start with `ts-node --esm`

tsconfig needs:

[code]

--------

Also can't import types obviously this way. Maybe with `import type`?

------

In addition, using ` --esm` will break next.js with this error: `[Error: EPERM: operation not permitted, open \.next\trace`.

--

[2022-03-11 07:53] andy128k commented on #385
See https://github.com/jantimon/favicons-webpack-plugin/pull/291

just replace `const favicons = require('favicons')` by `const { favicons } = await import('favicons')`.

[2022-03-11 08:26] stevemarksd commented on #385
Thanks for the help, but after spending countless hours I fixed in 30 minutes (including creating a npm account).

I ended up republishing with es5 and ts:  https://www.npmjs.com/package/@esm-to-es5/favicons works out of the box with everything :) and no need to install @types.

[2022-04-03 23:12] jameswilddev commented on #385
I'm also having a lot of trouble with this.  A lot of tooling (e.g. e2e test runners) expects you to use either CJS or MJS, not a mix of the two, and as almost everything else on NPM is CJS, I therefore cannot use any MJS packages at this time.

[2022-04-13 08:46] synedra-mpe commented on #365
[code]

An update would really be encouraged.

[2022-04-14 12:29] peksipatongeis commented on #318
Same thing happens to me. Randomly stalls to the same `[Favicons] Images:composite: Compositing favicon on 64x64 canvas with offset 0...` line.

Windows 11 and Node v16.14.2

[2022-04-14 22:54] andy128k commented on #318
@peksipatongeis may you try to reproduce the issue with favicons 7.0.0-beta.4?

[2022-04-19 07:20] peksipatongeis commented on #318
Tested with `favicons@7.0.0-beta.4` and it gets similarly stuck as it did with v6.

[code]

[2022-04-22 09:32] IdkMan2Usertive opened #389 "Improved typescript types"
I have created an improved version of the types for this project.

Improvements include:
* Exported almost all interfaces, so end-user can type safely component elements.
* Provided signature overload for `favicons()` function to better distinguish the usage between Promises and callbacks.

[code]

[2022-04-22 09:34] IdkMan2Usertive commented on #304
Upvote 👍🏼

[2022-04-29 14:01] artforlife opened #390 "Error When Installing Sharp and/or Favicons"
When I run `npm install --verbose favicons`, I get the following error. I also get a similar error, when installing the Sharp package, which I mentioned here: https://github.com/lovell/sharp/issues/3149

The error:

[code]

[2022-04-29 14:02] #390 closed

[2022-05-02 23:23] andy128k commented on #389
Thanks for this!

Unfortunately, second signature of `favicons` doesn't work with current code (v7.0.0-beta.x). But you've actually influenced me to review types and to do #391.

[2022-05-02 23:29] andy128k commented on #318
I was not able to reproduce this on Linux, but somehow this happens from time to time on Windows virtual machine. I am afraid, this is some sort of low-level concurrency issue with `Sharp` and specific to Windows.

[2022-05-13 12:17] mars-abd opened #393 "npm install favicons make http request to https://github.com/lovell/sharp-libvips/releases/download/v8.7.4/libvips-8.7.4-linux-x64.tar.gz"
Is it possible to set path to libvips-8.7.4-linux-x64.tar.gz in a favicons config?

[2022-05-30 06:45] 3z3qu13l commented on #393
Hello,
I have this one with favicons@6.2.2
[code]

[2022-06-07 02:55] MarcGodard opened #395 "Unsupported platform coast"
No idea why I get this error:

[code]

I searched the code for this error and it doesn't come up.

On linux (but i have used this lib before on linux), with node v-16.

Any ideas?

[2022-06-21 11:44] Ievgen-Lebediev opened #397 "Handling a few different image files as favicon and touch icon"
**Is your feature request related to a problem? Please describe.**

My application needs to handle two different *.png files (two different images not only different sizes) for favicon and for touch icons.
I did not find the solution for my issue based on the api mentioned at the github pages (both on favicons-webpack-plugin and favicons repos).

**Current configuration**

[code]
**Output**

All i

[2022-07-03 08:48] aderchox commented on #159
It's still not working for me.

[2022-07-04 20:45] andy128k commented on #397
There is no way to specify different sources per platform. A documentation says "an array of sources" but actually it means "output files". The purpose of this parameter is to opt-in to specific sizes of output files. It has nothing to do with inputs.

Probably your best option is to try to use a plug-in twice with different inputs and options.

[2022-07-05 11:22] Ievgen-Lebediev commented on #397
@andy128k  Thank you for your feedback. Could you please tell me if it possible somehow to run this webpack  plugin multiple times per build with different configurations for different image sources?

[2022-07-25 12:25] uuf6429 commented on #61
How about 'partial support' in case where the svgs are already provided in the sources?

[2022-08-19 18:55] #389 closed

[2022-08-25 02:47] andy128k commented on #385
CJS is available since v7.0.0-beta.4

[2022-08-25 02:47] #385 closed

[2022-09-14 15:45] rtarnaud opened #403 "7.0.0 is not working on Windows"
...as opposed to 7.0.0-beta.4 for example, which does work on Windows.

[2022-09-15 10:42] andy128k commented on #403
Any details?

[2022-09-23 21:03] hahnbeelee commented on #403
I'm testing on mac and it isn't working for me either. No errors are being thrown but my favicons are just not being generated.

[2022-09-25 16:27] andy128k commented on #403
May you provide more details? How do you test? May it happen that you use a callback to get a result? Callbacks are not supported anymore (since beta.5).

`favicons(source, options, (error, result) => { ... })` should be changed to `favicons(source, options).then(result => { ... }, error => { ... })`.

[2022-09-25 19:00] rtarnaud commented on #403
No I didn't update my code to reflect the switch to promises so I guess that's the issue. Thanks for the heads up but I would humbly suggest that you announce these kind of changes in a changelog document, not only in the readme. Especially when you change the API itself between a beta version and the corresponding release.

[2022-09-25 19:00] #403 closed

[2022-09-25 19:40] hahnbeelee commented on #403
The change also isn't reflected on the [npm readme](https://www.npmjs.com/package/favicons)

[2022-09-25 19:42] #365 closed

[2022-09-25 19:43] #322 closed

[2022-10-19 20:24] juanca commented on #304
Is it okay if the feature only supports SVG as an output if and only if the input is an SVG? It would be the easier than converting PNGs to SVGs 😅